{% extends "webtemplate.html" %}
{% load has_group %}
{% load custom_filters %}
<!-- importa cambia nombre al archivo adjunto sin la ruta -->
{% load custom_filters_2 %}

<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Listado de solicitudes{% endblock %}</title>
    {% block head %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
        defer>
        </script> -->

    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    {% load static %}
    {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
    {% for lab in laboratorios %}
    {% if lab.id == laboratorio.id %}

    <script>
        labDefault = '{{ lab.id }}'
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}

    <script>
        labDefault = "0"
    </script>
    {% endif %}
    <script>
        today = "{{ today|date:'Y-m-d' }}"
        // oneMonthAgo="{{ one_month_ago|date:'Y-m-d' }}"
    </script>
    <link rel="stylesheet" href="{% static 'inventarioreac/inventoryStyles.css' %}">
    <script src="{% static 'inventarioreac/paginationInventoryControl.js' %}"></script>
    <!-- Llama Script que controla la paginación -->
    <script src="{% static 'inventarioreac/holdSelectSolicitud.js' %}" defer></script>
    <!-- Llama Script que controla los select según el inventario -->
    <script src="{% static 'inventarioreac/highlightPaginationControl.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script>var inventarioUrl = "{% url 'reactivos:inventario' %}";</script>
    <script src="{% static 'inventarioreac/sortByControl.js' %}"></script>
    <!-- Llama Script que envía datos de ordenamiento de registros -->
    <script src="{% static 'inventarioreac/openDetailSolicitud.js' %}" defer></script>
    <script src="{% static 'inventarioreac/openDetailUser.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script src="{% static 'inventarioreac/updateUrl.js' %}"></script>
    <!-- Llama Script que actualiza URL -->
    <script src="{% static 'inventarioreac/validateLapse.js' %}"></script>
    <!-- Llama Script que actualiza URL -->
    <script src="{% static 'inventarioreac/listActionsControl.js' %}" defer></script>
    <!-- Llama Script que controla las acciones de la lista -->
    <script src="{% static 'inventarioreac/js/clearFieldsFindEvent.js' %}" defer></script>
    <!-- Llama Script que Limpia la búsqueda -->

    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="row col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h1>Listado de solicitudes</h1>
                </div>
            </div>
            <div class="card-body">
                <form method="get" onsubmit="guardarValoresSelect()" class="row g-3" id="solicitudes" name="solicitudes">

                    <div class="form-group col-md-3">
                        <label for="start_date">Fecha Inicial:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control"
                            max="{{ today|date:'Y-m-d' }}">
                        <span class="validation-message" id="start-date-validation" style="color: red;">La fecha incial
                            debe ser igual o anterior a "{{ today|date:'Y-m-d' }}".</span>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="end_date">Fecha Final:</label>
                        <input type="date" id="end_date" name="end_date" class="form-control"
                            value="{{ today|date:'Y-m-d' }}" max="{{ today|date:'Y-m-d' }}">
                        <span class="validation-message" id="end-date-validation" style="color: red;">La fecha incial
                            debe ser igual o anterior a "{{ today|date:'Y-m-d' }}"</span>
                    </div>
            </div>

            <div class="card-footer text-md-left">
                <div class="form-group">
                    <button id="boton-buscar" type="submit" class="btn btn-primary">Buscar</button>
                    <button type="button" class="btn btn-success visible-xs-inline" onclick="limpiarCampos('solicitudes')">Limpiar búsqueda</button>
                    
                </div>
            </div>

            </form>

        </div>


        <div class="col-md-12 mx-auto" style="margin-bottom: 10px;">
            <!-- Control de paginación -->
            <div class="d-flex justify-content-between">
                <div>Ver&nbsp;
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a href="{% url 'reactivos:GuardarPerPageSolicitud' per_page=10 %}"
                            class="btn btn-secondary btn-sm" id="per-page-10">10</a>
                        <a href="{% url 'reactivos:GuardarPerPageSolicitud' per_page=20 %}"
                            class="btn btn-secondary btn-sm" id="per-page-20">20</a>
                        <a href="{% url 'reactivos:GuardarPerPageSolicitud' per_page=50 %}"
                            class="btn btn-secondary btn-sm" id="per-page-50">50</a>
                    </div>&nbsp;Registros por página
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table custom-table" id="tabla-inventario">

                <thead style="background-color: rgb(205, 203, 203); position: sticky; top: 0; z-index: 10; border-bottom: 1px solid black; border-top: 1px solid black;">
                    <tr>
                        <th class="sortable-header hidden-xs" data-column="0" data-column-name="id" title="Ordenar por Consecutivo" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Id</th>
                        <th class="sortable-header" data-column="1" data-column-name="date" title="Ordenar por fecha" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Fecha</th>
                        <th class="sortable-header" data-column="2" title="Ordenar por Asunto" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Asunto</th>
                        <th class="sortable-header" title="Archivos adjuntos" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Anexos</th>
                        <th class="sortable-header hidden-xs" data-column="3" title="Ordenar por Remitente" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Remitente</th>
                        <th class="sortable-header hidden-xs" data-column="4" title="Ordenar por Laboratorio" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Laboratorio</th>
                        <th class="sortable-header" data-column="5" title="Estado de la solicitud" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; max-width: 85px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Estado</th>
                        <th class="sortable-header hidden-xs" title="Detalle de la solcitus" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; cursor: default;">Detalle</th>
                        <th class="sortable-header" title="Acciones con para la solicitud" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; cursor: default;">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in object_list %}
                    <tr class="table-row">
                        <td class="hidden-xs" title="Id de solciitud: {{ item.id }}" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.id }}</td>
                        <td class="date-reagent" title="Fecha de solciitud: {{ item.date_create|date:"d/m/Y H:i:s" }}" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.date_create|date:"d/m/Y" }}</td>
                        <td class="subject-request detalle-reactivo" title="Asunto solicitud: {% if item.tipo_solicitud.name == 'OTRA' %}{{ item.name }}{% else %}{{ item.tipo_solicitud }}{% endif %}" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black;"
                                data-solicitud-date="{{ item.date_create|date:'d/m/Y' }}"
                                data-solicitud-id="{{ item.id|stringformat:'04d' }}" {% if item.name %}
                                data-solicitud-tipo="{{ item.name }}" {% else %}
                                data-solicitud-tipo="{{ item.tipo_solicitud }}" {% endif %}
                                data-solicitud-mensaje="{{ item.mensaje }}"
                                data-solicitud-usuario_solicitud="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                                data-solicitud-laboratorio="{{ item.created_by.lab }}"
                                data-solicitud-telefono="{{ item.created_by.phone_number }}"
                                data-solicitud-email="{{ item.created_by.email }}"
                                data-solicitud-tramitado="{% if  item.tramitado %}Tramitado{% else %}Pendiente Trámite{% endif %}"
                                data-solicitud-respuesta="
                            {% if item.observaciones %}
                            {{ item.observaciones }}
                            {% endif %}" data-solicitud-date_create="{{ item.date_create }}"
                                data-solicitud-usuario-tramita="{% if item.usuario_tramita %}
                            {{ item.usuario_tramita.first_name }} {{ item.usuario_tramita.last_name }}{% endif %}"
                                data-solicitud-fecha-tramite="{{ item.fecha_tramite|date:'d/m/Y' }}"
                                data-solicitud-create_by="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                                data-solicitud-lastupdate="{{ item.last_update }}"
                                data-solicitud-update_by="{{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}"
                                data-solicitud-id_inventario="{{ item.inventario.id }}"><a>{% if item.tipo_solicitud.name == 'OTRA' %}{{ item.name }}{% else %}{{ item.tipo_solicitud }}{% endif %}</a></td>
                        <td class="action-list-sol" {% if item.archivos_adjuntos %}title="Descargar {{ item.archivos_adjuntos.url|filename }}"{% endif %} style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default; text-align: center;">
                            {% if item.archivos_adjuntos %}
                            <a href="{{ item.archivos_adjuntos.url }}"  download="{{ item.archivos_adjuntos.url|filename }}" target="_blank" download="{{ item.archivos_adjuntos.url|filename }}"><img src="{% static 'inventarioreac/Images/attachment.png' %}" alt="" width="18" height="18"></a>
                            {% endif %}
                        </td>
                        <td class="subject-reagent hidden-xs" title="Remitente la solcitud: {{ item.created_by.first_name }} {{ item.created_by.last_name }}" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.created_by.first_name }} {{ item.created_by.last_name }}</td>
                        <td class="subject-reagent hidden-xs" title="Laboratorio donde se genera la solcitud: {{ item.created_by.lab }}" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.created_by.lab }}</td>
                        <td class="{% if not item.tramitado %}pendiente-tramite-cell{% endif %}" title="Estado de la solciitud: {% if item.tramitado %}Tramitada{% else %}Pendiente{% endif %}"  style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default; max-width: 85px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            {% if item.tramitado %}
                            Tramitada
                            {% else %}
                            Pendiente
                            {% endif %}
                        </td>
                        <!-- Modifica el evento click de la imagen para mostrar SweetAlert -->
                        <td class="action-list-sol hidden-xs" title="Detalle de la solicitud" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default; text-align: center;">
                            <img src="{% static 'inventarioreac/Images/moreInfo.ico' %}" alt="" width="18" height="18"
                                class="detalle-reactivo" data-solicitud-date="{{ item.date_create|date:'d/m/Y' }}"
                                data-solicitud-id="{{ item.id|stringformat:'04d' }}" {% if item.name %}
                                data-solicitud-tipo="{{ item.name }}" {% else %}
                                data-solicitud-tipo="{{ item.tipo_solicitud }}" {% endif %}
                                data-solicitud-mensaje="{{ item.mensaje }}"
                                data-solicitud-usuario_solicitud="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                                data-solicitud-laboratorio="{{ item.created_by.lab }}"
                                data-solicitud-telefono="{{ item.created_by.phone_number }}"
                                data-solicitud-email="{{ item.created_by.email }}"
                                data-solicitud-tramitado="{% if  item.tramitado %}Tramitado{% else %}Pendiente Trámite{% endif %}"
                                data-solicitud-respuesta="
                            {% if item.observaciones %}
                            {{ item.observaciones }}
                            {% endif %}" data-solicitud-date_create="{{ item.date_create }}"
                                data-solicitud-usuario-tramita="{% if item.usuario_tramita %}
                            {{ item.usuario_tramita.first_name }} {{ item.usuario_tramita.last_name }}{% endif %}"
                                data-solicitud-fecha-tramite="{{ item.fecha_tramite|date:'d/m/Y' }}"
                                data-solicitud-create_by="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                                data-solicitud-lastupdate="{{ item.last_update }}"
                                data-solicitud-update_by="{{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}"
                                data-solicitud-id_inventario="{{ item.inventario.id }}"
                                title="Más información sobre la solicitud">
                        </td>

                        <td class="action-list-sol" title="Acciones para la solicitud" style="vertical-align: middle; border-bottom: 1px solid black; border-top: 1px solid black; cursor: default; text-align: center;">
                            <!-- Responder  Solicitud -->

                            {% if item.tramitado %}
                            <img src="{% static 'inventarioreac/Images/response_request.png' %}" alt="" width="18"
                                height="18"
                                title="Ya se ha respondido la solicitud número {{ item.id|stringformat:'04d' }}, click en más detalles para información">
                            {% else %}
                            <a href="javascript:void(0);" onclick="openRespondRequest('{{ item.id|base64_encode }}')">
                                <img src="{% static 'inventarioreac/Images/response_request.png' %}" alt="" width="18"
                                    height="18" title="Responder solicitud número {{ item.id|stringformat:'04d' }}">
                            </a>

                            {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            
            <div class="d-flex justify-content-between">
                <!-- Controles de navegación de página -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="" id="first-page-link">Primera</a>
                        <a href="" id="previous-page-link">Anterior</a>
                        {% endif %}
                        <span class="current-page">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages}}.</span>

                        {% if page_obj.has_next %}
                        <a href="" id="next-page-link">Siguiente</a>
                        <a href="" id="last-page-link">Última</a>
                        {% endif %}
                    </span>
                </div>
                <!-- Información de paginación -->
                <div class="pagination-info">
                    Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ paginator.count }} registros
                </div>
            </div>
            
            <div class="card-footer text-md-left" style="margin-top: 10px;"><!-- Opciones de exportación -->
            <a href="{% url 'reactivos:export_to_excel_solicitud' %}" class="btn btn-primary">Exportar a Excel</a>
        </div> 
    </div>


        <!-- Este script no puede ser llamado de manera independiente ya que tiene muchas variables provenientes del servidor -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const baseUrl = window.location.href;
                const currentPage = '{{ page_obj.number }}';
                const nextPage = parseInt(currentPage) + 1
                const previousPage = parseInt(currentPage) - 1
                const totalPages = '{{ page_obj.paginator.num_pages }}';


                '{% if page_obj.has_previous %}'
                const firstPageLink = document.getElementById('first-page-link');
                const previousPageLink = document.getElementById('previous-page-link');
                firstPageLink.href = baseUrl + '&page=1';
                previousPageLink.href = baseUrl + '&page=' + previousPage;
                '{% endif %}'

                '{% if page_obj.has_next %}'
                const nextPageLink = document.getElementById('next-page-link');
                const lastPageLink = document.getElementById('last-page-link');
                nextPageLink.href = baseUrl + '&page=' + nextPage;
                lastPageLink.href = baseUrl + '&page=' + totalPages;

                '{% endif %}'
            });
        </script>

        {% endblock %}
</body>

</html>