@font-face {
	font-family: 'Ancizar sans';
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/ancizarsans_bold_italic-webfont.eot"), url("../fonts/ancizarsans_bold_italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarsans_bold_italic-webfont.woff") format('woff'), url("../fonts/ancizarsans_bold_italic-webfont.ttf") format('truetype'), url("../fonts/ancizarsans_bold_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar sans';
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/ancizarsans_bold-webfont.eot"), url("../fonts/ancizarsans_bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarsans_bold-webfont.woff") format('woff'), url("../fonts/ancizarsans_bold-webfont.ttf") format('truetype'), url("../fonts/ancizarsans_bold-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar sans';
	font-weight: normal;
	font-style: italic;
	src: url("../fonts/ancizarsans_italic-webfont.eot"), url("../fonts/ancizarsans_italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarsans_italic-webfont.woff") format('woff'), url("../fonts/ancizarsans_italic-webfont.ttf") format('truetype'), url("../fonts/ancizarsans_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar sans';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/ancizarsans_regular-webfont.eot"), url("../fonts/ancizarsans_regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarsans_regular-webfont.woff") format('woff'), url("../fonts/ancizarsans_regular-webfont.ttf") format('truetype'), url("../fonts/ancizarsans_regular-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar serif';
	font-weight: bold;
	font-style: italic;
	src: url("../fonts/ancizarserif_bold_italic-webfont.eot"), url("../fonts/ancizarserif_bold_italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarserif_bold_italic-webfont.woff") format('woff'), url("../fonts/ancizarserif_bold_italic-webfont.ttf") format('truetype'), url("../fonts/ancizarserif_bold_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar serif';
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/ancizarserif_bold-webfont.eot"), url("../fonts/ancizarserif_bold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarserif_bold-webfont.woff") format('woff'), url("../fonts/ancizarserif_bold-webfont.ttf") format('truetype'), url("../fonts/ancizarserif_bold-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar serif';
	font-weight: normal;
	font-style: italic;
	src: url("../fonts/ancizarserif_italic-webfont.eot"), url("../fonts/ancizarserif_italic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarserif_italic-webfont.woff") format('woff'), url("../fonts/ancizarserif_italic-webfont.ttf") format('truetype'), url("../fonts/ancizarserif_italic-webfont.svg#ancizar_sansbold_italic") format('svg');
}

@font-face {
	font-family: 'Ancizar serif';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/ancizarserif_regular-webfont.eot"), url("../fonts/ancizarserif_regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ancizarserif_regular-webfont.woff") format('woff'), url("../fonts/ancizarserif_regular-webfont.ttf") format('truetype'), url("../fonts/ancizarserif_regular-webfont.svg#ancizar_sansbold_italic") format('svg');
}

body {
	background-color: #ddd;
	font-family: "Ancizar sans", Tahoma, Geneva, sans-serif;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-y: scroll;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ancizar serif", "MS Serif", "New York", serif;
}


a {
	color: #94b43b;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

main {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	min-height: 30em;
}

body>footer:before {
	content: " ";
	display: table
}

body>footer:after {
	clear: both;
}

blockquote,
div.indent {
	margin: 1em 1.2em;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.no-padding {
	padding: 0;
}

ol {
	list-style: decimal outside none;
}

li a {
	font-size: 1em;
}

ul,
ol {
	margin-left: 1.2em;
}

#services {
	background: #333;
	position: fixed;
	right: -800px;
	left: auto;
	top: 0;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	z-index: 20000;
}

#services.active {
	right: 0;
}

#services .navbar-default .navbar-nav>li>a:hover,
#services .navbar-default .navbar-nav>li>a:focus {
	background-color: yellow;
	color: pink;
}

#services ul {
	margin: 0;
	overflow-x: hidden;
	padding: 0 10px;
}

#services ul li {
	border-bottom: 1px solid #222;
	border-top: 1px solid #444;
	width: 240px;
	padding: 10px 0;
	height: 52px;
}

#services ul li:hover {
	background: #444;
}

#services ul li:first-child {
	border-top: 0;
}

#services ul li:last-child {
	border-bottom: 0;
}

#services ul li a {
	color: white;
	font-size: .9em;
	line-height: 32px;
	white-space: nowrap;
	display: inline;
	background: transparent;
	padding: 0;
}

#services ul li a img {
	display: block;
	float: left;
	height: 32px;
	margin: 0 5px;
	width: 32px;
}

#services .indicator {
	background-color: #94b43b;
	background-image: url(../images/backServices.png);
	background-position: 0 0;
	cursor: pointer;
	height: 126px;
	left: -34px;
	position: absolute;
	top: 150px;
	width: 34px;
}

#services .indicator:hover {
	background-position: 0 -127px;
}

#services .indicator.active {
	background-position: -35px 0;
}

#services .indicator.active:hover {
	background-position: -35px -127px;
}

ul.dropdown-menu {
	min-width: 54px;
	background: #333;
	border-color: #222;
	padding: 0;
}

ul.dropdown-menu a {
	color: white;
	padding: 3px 10px;
}

ul.dropdown-menu a:hover,
ul.dropdown-menu a:active,
ul.dropdown-menu a:focus {
	background: #4b4b4b;
	color: white;
}

#unalTop {
	position: relative;
	z-index: 3;
}

#unalTop .logo {
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	transition: width .5s;
	background: no-repeat url(../images/sealBck.png);
	float: left;
	height: 135px;
	width: 234px;
	margin-left: 10px;
	position: absolute;
	text-align: center;
}

#unalTop .logo img,
#unalTop .logo svg {
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	transition: width .5s;
}

#unalTop .btn-group {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#unalTop .btn-group .btn {
	background: transparent;
	border: 0;
	color: white;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 1.125em;
}

#unalTop .btn-group .btn .caret {
	border-top-color: #94b43b;
	margin-left: 6px;
}

#unalTop .btn-group:hover,
#unalTop .btn-group.open {
	background-color: #666;
	border-color: #333;
}

#unalTop .seal {
	position: absolute;
	right: 10px;
	top: 35px;
	z-index: 2;
}

#unalTop .firstMenu {
	background: #666;
	height: 30px;
}

#unalTop .firstMenu .navbar-toggle {
	margin-top: 11px;
	margin-right: 11px;
}

#unalTop .firstMenu .navbar-toggle .icon-bar {
	background: white;
}

#unalTop .firstMenu .languageMenu {
	float: right;
	margin: 0 5px;
}

#unalTop .firstMenu .languageMenu ul.dropdown-menu {
	right: 0;
	left: unset;
}

#unalTop .firstMenu .languageMenu:hover,
#unalTop .firstMenu .languageMenu.open {
	background-color: transparent;
	border-color: transparent
}

#unalTop .firstMenu .languageMenu .btn {
	padding: 5px .8em 2px;
}

#unalTop .firstMenu .navbar-default {
	background: transparent;
	float: right;
}

#unalTop .firstMenu .navbar-default nav {
	padding: 0;
}

#unalTop .firstMenu .navbar-default nav li {
	border-right: 1px solid #3d3d3d;
	height: 30px;
	padding-top: 6px;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}

#unalTop .firstMenu .navbar-default nav li .dropdown-menu {
	width: 14em;
}

#unalTop .firstMenu .navbar-default nav li:first-child {
	border-left: 1px solid #333;
}

#unalTop .firstMenu .navbar-default nav li a {
	color: white;
	text-shadow: none;
	background: none;
	display: inline;
}

#unalTop .firstMenu .navbar-default nav li a:hover {
	color: #333;
	text-decoration: none;
}

#unalTop .firstMenu .navbar-default nav li.active>a {
	color: black;
}

#unalTop .firstMenu .navbar-default nav li.item_Aspirantes:hover,
#unalTop .firstMenu .navbar-default nav li.item_Aspirantes.active,
#unalTop .firstMenu .navbar-default nav li.item_Aspirantes.active:hover {
	background: #fd0;
	border-right: 1px solid #998400 !important;
}

#unalTop .firstMenu .navbar-default nav li.item_Estudiantes:hover,
#unalTop .firstMenu .navbar-default nav li.item_Estudiantes.active,
#unalTop .firstMenu .navbar-default nav li.item_Estudiantes.active:hover {
	background: #ffb600;
	border-right: 1px solid #996d00 !important;
}

#unalTop .firstMenu .navbar-default nav li.item_Egresados:hover,
#unalTop .firstMenu .navbar-default nav li.item_Egresados.active,
#unalTop .firstMenu .navbar-default nav li.item_Egresados.active:hover {
	background: #51b8be;
	border-right: 1px solid #306e71 !important;
}

#unalTop .firstMenu .navbar-default nav li.item_Docentes:hover,
#unalTop .firstMenu .navbar-default nav li.item_Docentes.active,
#unalTop .firstMenu .navbar-default nav li.item_Docentes.active:hover {
	background: #008c95;
	border-right: 1px solid #005459 !important;
}

#unalTop .firstMenu .navbar-default nav li.item_Administrativos:hover,
#unalTop .firstMenu .navbar-default nav li.item_Administrativos.active,
#unalTop .firstMenu .navbar-default nav li.item_Administrativos.active:hover {
	background: #ff3d30;
	border-right: 1px solid #99241d !important
}

#unalTop .firstMenu ul.socialLinks {
	float: right;
	margin: 0 5px 0 20px;
	padding: 0;
}

#unalTop .firstMenu ul.socialLinks li {
	float: left;
	margin: 5px 2px;
	padding: 0
}

#unalTop .firstMenu ul.socialLinks li a {
	display: block;
	height: 20px;
	width: 20px;
}

#unalTop .firstMenu ul.socialLinks li a.twitter,
#unalTop .firstMenu ul.socialLinks li a.twitter:hover,
#unalTop .firstMenu ul.socialLinks li a.facebook,
#unalTop .firstMenu ul.socialLinks li a.facebook:hover,
#unalTop .firstMenu ul.socialLinks li a.youtube,
#unalTop .firstMenu ul.socialLinks li a.youtube:hover,
#unalTop .firstMenu ul.socialLinks li a.flickr,
#unalTop .firstMenu ul.socialLinks li a.flickr:hover,
#unalTop .firstMenu ul.socialLinks li a.rss,
#unalTop .firstMenu ul.socialLinks li a.rss:hover,
#unalTop .firstMenu ul.socialLinks li a.blogger,
#unalTop .firstMenu ul.socialLinks li a.blogger:hover,
#unalTop .firstMenu ul.socialLinks li a.email,
#unalTop .firstMenu ul.socialLinks li a.email:hover {
	background: no-repeat 0 0 url(../images/icnSocial.png);
}

#unalTop .firstMenu ul.socialLinks li a.twitter:hover,
#unalTop .firstMenu ul.socialLinks li a.facebook,
#unalTop .firstMenu ul.socialLinks li a.facebook:hover,
#unalTop .firstMenu ul.socialLinks li a.youtube,
#unalTop .firstMenu ul.socialLinks li a.youtube:hover,
#unalTop .firstMenu ul.socialLinks li a.flickr,
#unalTop .firstMenu ul.socialLinks li a.flickr:hover,
#unalTop .firstMenu ul.socialLinks li a.rss,
#unalTop .firstMenu ul.socialLinks li a.rss:hover,
#unalTop .firstMenu ul.socialLinks li a.blogger,
#unalTop .firstMenu ul.socialLinks li a.blogger:hover,
#unalTop .firstMenu ul.socialLinks li a.email,
#unalTop .firstMenu ul.socialLinks li a.email:hover {
	background-position: 0 -21px;
}

#unalTop .firstMenu ul.socialLinks li a.facebook {
	background-position: -21px 0;
}

#unalTop .firstMenu ul.socialLinks li a.facebook:hover {
	background-position: -21px -21px;
}

#unalTop .firstMenu ul.socialLinks li a.youtube {
	background-position: -84px 0;
}

#unalTop .firstMenu ul.socialLinks li a.youtube:hover {
	background-position: -84px -21px;
}

#unalTop .firstMenu ul.socialLinks li a.flickr {
	background-position: -42px 0;
}

#unalTop .firstMenu ul.socialLinks li a.flickr:hover {
	background-position: -42px -21px;
}

#unalTop .firstMenu ul.socialLinks li a.rss {
	background-position: -126px 0;
}

#unalTop .firstMenu ul.socialLinks li a.rss:hover {
	background-position: -126px -21px;
}

#unalTop .firstMenu ul.socialLinks li a.blogger {
	background-position: -63px 0;
}

#unalTop .firstMenu ul.socialLinks li a.blogger:hover {
	background-position: -63px -21px;
}

#unalTop .firstMenu ul.socialLinks li a.email {
	background-position: -105px 0;
}

#unalTop .firstMenu ul.socialLinks li a.email:hover {
	background-position: -105px -21px;
}

#unalTop .navigation {
	background: url(../images/navigationBack.png);
	color: white;
	padding: 0;
}

#unalTop .navigation .site-url {
	background: no-repeat 0 0 url(../images/locDot.png);
	clear: both;
	float: left;
	font-size: 1.72em;
	height: 17px;
	line-height: 18px;
	margin: 12px 10px 10px 250px;
	padding: 0 0 0 20px;
}

#unalTop .navigation .site-url a {
	color: white;
}

#unalTop .navigation .buscador {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: none;
	color: white;
	margin: 0;
	overflow: hidden;
	width: 200px;
	position: absolute;
	right: 85px;
	top: 36px;
	height: 30px;
}

#unalTop .navigation .buscador .gscb_a {
	line-height: 20px;
}

#unalTop .navigation .buscador .gsc-search-box .gsc-input>input:hover,
#unalTop .navigation .buscador .gsc-input-box-hover {
	border: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-input {
	background-color: #777;
	background-image: none !important;
	width: 100%;
	padding: 0;
}

#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-input input {
	background: none !important;
	text-indent: 0 !important;
	color: #ddd;
	display: inline;
	font-size: 1.2em;
	width: 150px !important;
}

#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-input input::placeholder {
	color: #ddd;
}

#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-input td.gsib_b {
	display: none;
}

#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-search-box {
	height: 30px;
	margin: 0;
	position: relative;
}

#unalTop .navigation .buscador .gsc-input-box-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

#unalTop .navigation .buscador .gsc-search-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background-color: #94b43b !important;
	border: 0 none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	float: right;
	height: 30px;
	padding: 0;
	width: 30px;
	margin-left: 0 !important;
}

#unalTop .navigation .buscador .gsc-search-button input.gsc-search-button {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	margin: 0;
	outline: 0;
	padding: 0;
	height: 30px;
	width: 30px;
}

#unalTop .navigation .buscador .gsc-search-button button.gsc-search-button-v2 svg {
	width: 16px !important;
	height: 16px !important;
	margin: 7px !important;
}

#unalTop .navigation .buscador .gsc-input-box {
	background: #777;
	border: 0;
	color: white;
	padding: 0;
}

table.gsc-completion-container {
	font-family: 'Ancizar sans' !important;
	font-weight: normal !important;
}

#unalTop .navigation .mainMenu {
	clear: both;
	margin: 0 0 0 240px;
}

#unalTop .navigation .mainMenu .btn-group:last-child {
	float: right;
	margin-right: 85px;
}

#unalTop .navigation .mainMenu .btn-group:last-child .caret {
	border-top-color: #94b43b !important;
}

#unalTop .navigation .mainMenu .btn-group ul.dropdown-menu {
	margin-top: -3px;
}

main .breadcrumb-class {
	border-bottom: 1px dotted #646464;
	color: #323232;
	line-height: 30px;
	margin: 50px 0 0;
}

main .breadcrumb-class span,
main .breadcrumb-class a {
	margin: 0 .3em;
	font-weight: bold;
}

main .breadcrumb-class a {
	color: #94b43b;
	font-weight: normal;
}

main .breadcrumb-class a:hover {
	color: #333;
}

main.detalle {
	margin: 80px 10% 50px 1%;
}

footer {
	height: auto;
	background: #666;
	font-size: .9em;
	color: #ddd;
	padding: 15px 0 25px 0;
}

footer div.footer-info p {
	display: inline-block;
	padding: 0;
}

footer div.footer-info p.contacto,
footer div.footer-info body footer div.footer-info p.derechos,
body footer div.footer-info footer div.footer-info p.derechos {
	padding-left: 20px;
	border-left: solid 1px #555;
}

footer div.footer-info p.derechos {
	text-align: right;
	padding-right: 20px;
	border-right: solid 1px #555;
}

footer nav {
	display: block;
}

footer nav a {
	display: inline-block;
	width: 49%;
}

footer a {
	color: white;
}

footer a:hover {
	color: #eee;
	text-decoration: underline;
}

footer .logos a {
	text-align: center;
	padding: 0;
}

footer .logos a img {
	max-width: 100%;
	max-height: 37px;
	width: auto;
	height: auto;
	display: block;
	margin: auto;
}

.oldie {
	display: block;
}

.oldie body {
	font-size: 12px;
}

.oldie #unalTop .logo img {
	height: auto !important;
}

.oldie #unalTop .mainMenu .dropdown-menu li a {
	display: inline;
}

.oldie #unalTop .mainMenu .dropdown-menu li a:hover {
	background-color: #4b4b4b;
}

.oldie #unalTop .firstMenu .navbar-default nav li a {
	font-size: .9em;
	line-height: 1.1em;
}

.oldie #services {
	width: 262px;
}

.oldie #services ul li a {
	font-size: .8em;
}

.oldie footer {
	display: table;
}

.oldie footer .gobiernoLinea {
	margin: 10px auto 20px;
}

.oldie footer .gobiernoLinea a {
	margin-top: 4px;
}

.oldie footer .footer-info {
	margin: 10px auto 20px;
}

.oldie footer .footer-info p {
	line-height: 15px;
}

.oldie footer .logos {
	margin: 10px auto 20px;
}

@media screen and (min-width:992px) and (max-width:1199px) {
	#unalTop .seal {
		right: 8px;
	}

	#unalTop .seal img {
		height: 50px;
		width: auto;
		top: 5px;
		position: relative;
	}

	#unalTop .navigation .buscador {
		right: 70px;
	}

	#unalTop .navigation .mainMenu .btn-group .btn {
		padding: 6px;
		font-size: 1.1em;
	}

	#unalTop .navigation .mainMenu .btn-group:last-child {
		margin-right: 70px;
	}

	main .breadcrumb-class {
		margin-top: 20px;
	}

	footer {
		font-size: .8em;
		line-height: 1.1em;
		padding-bottom: 15px;
	}

	footer div.footer-info p.contacto {
		padding-left: 10px;
	}

	footer div.footer-info p.derechos {
		padding-right: 10px;
	}

	footer .logos .imgAgencia {
		margin-bottom: 6px;
	}

	footer .logos a img {
		margin: auto;
		width: auto;
		max-height: 27px;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	#unalTop .logo {
		width: 195px;
		height: 114px;
		margin-left: 0;
		background-size: cover;
		background-position: center bottom;
	}

	#unalTop .logo img {
		margin: 12px auto;
		height: 46px;
		width: auto;
	}

	#unalTop .firstMenu .languageMenu {
		margin: 0;
	}

	#unalTop .firstMenu ul.socialLinks {
		margin: 0 5px;
	}

	#unalTop .firstMenu .navbar-default nav li a {
		padding: 6px 5px 4px;
	}

	#unalTop .navigation {
		height: 68px;
	}

	#unalTop .navigation .buscador {
		right: 60px;
		width: 166px;
		top: 42px;
		height: 22px;
	}

	#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-input input {
		font-size: 1em;
	}

	#unalTop .navigation .buscador .gsc-control-searchbox-only .gsc-search-box {
		height: 22px;
	}

	#unalTop .navigation .buscador .gsc-search-button {
		height: 22px;
		width: 22px;
	}

	#unalTop .navigation .buscador .gsc-search-button input.gsc-search-button {
		height: 22px;
		width: 22px;
	}

	#unalTop .navigation .site-url {
		margin-left: 200px;
		font-size: 1.4em;
	}

	#unalTop .navigation .mainMenu {
		margin-left: 200px;
	}

	#unalTop .navigation .mainMenu .btn {
		font-size: .9em;
		padding: 7px 4px 0;
	}

	#unalTop .navigation .mainMenu .btn-group:last-child {
		margin-right: 60px;
	}

	#unalTop .seal {
		right: 5px;
	}

	#unalTop .seal img {
		width: 45px;
		height: 45px;
		margin-top: 5px;
	}

	main.detalle {
		margin: 0 5% 50px;
	}

	main .breadcrumb-class {
		margin-top: 15px;
	}

	body footer .gobiernoLinea a {
		width: 100%
	}

	body footer .footer-info {
		border-left: solid 1px #555;
		border-right: solid 1px #555;
	}

	body footer .footer-info p.contacto {
		border-left: none;
	}

	body footer .footer-info p.derechos {
		text-align: left;
		border-right: 0;
		padding-left: 20px;
	}
}

@media screen and (max-width:480px) {
	body #unalTop .seal {
		display: none;
	}

	body #unalTop .firstMenu .navbar-toggle {
		margin-right: 11px;
	}

	body main.detalle {
		margin: 0 2% 50px;
	}

	body footer {
		padding: 15px 0 25px;
	}

	body footer .gobiernoLinea a {
		width: 100%;
	}

	body footer .gobiernoLinea:nth-child(2) {
		text-align: right;
	}

	body footer div.footer-info {
		padding: 10px 15px;
		margin: 10px auto;
		font-size: .9em;
		border-top: solid 1px #555;
		border-bottom: solid 1px #555;
	}

	body footer div.footer-info p.contacto,
	body footer div.footer-info p.derechos {
		border: 0;
		padding: 0;
		width: 49%;
	}

	body footer div.footer-info p.derechos {
		text-align: right;
		border-left: none;
	}

	body footer .logos {
		margin-top: 0;
	}

	.col-xxs-6 {
		width: 50%;
	}

	.col-xxs-12 {
		width: 100%;
	}
}

@media screen and (max-width:767px) {

	#services,
	#profiles {
		margin-left: 1.2em;
		height: auto !important;
		width: 90%;
		position: absolute;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}

	#services ul,
	#profiles ul {
		height: auto !important;
		width: 100%;
		background: #333;
		border-color: #222;
		padding: 0;
	}

	#services ul li,
	#profiles ul li {
		width: 100%;
		border: 0;
	}

	#services ul li img,
	#profiles ul li img {
		display: none;
	}

	#services ul li a,
	#profiles ul li a {
		line-height: inherit;
		color: white;
		padding: 3px 10px;
		font-size: 1em;
		line-height: 1.429em;
	}

	#unalTop .logo {
		background: none;
		width: 103px;
		margin-left: 0;
		height: 54px;
	}

	#unalTop .logo a {
		display: block;
		height: 100%;
		width: 100%;
	}

	#unalTop .logo a svg,
	#unalTop .logo a img {
		height: 100%;
		width: 100%;
		margin: 0;
	}

	#unalTop .seal {
		top: 10px;
		right: 60px;
	}

	#unalTop .seal img {
		width: 35px;
		height: 35px;
	}

	#unalTop .firstMenu {
		height: 54px;
	}

	#unalTop .navigation {
		height: auto;
		position: absolute;
		max-height: 5000px;
		width: 100%;
		background: url(../images/navigationBack_small.png);
	}

	#unalTop .navigation:last-child {
		padding-bottom: 15px;
	}

	#unalTop .navigation.collapse.in {
		overflow: visible
	}

	#unalTop .navigation .site-url {
		font-size: 1.1em;
		margin: 10px 0 5px 14px;
	}

	#unalTop .navigation .buscador {
		position: relative;
		top: 0;
		left: 0;
		clear: both;
		width: 100%;
	}

	#unalTop .navigation .mainMenu {
		margin: 0;
	}

	#unalTop .navigation .mainMenu .btn-group:last-child {
		margin: 0;
		float: none;
	}

	#unalTop .navigation .mainMenu .btn-group .dropdown-menu {
		clear: both;
		margin-left: 1.2em;
		width: 90%;
	}

	#unalTop .navigation .btn-group {
		width: 100%;
	}

	main.detalle {
		margin: 0 5% 50px;
	}

	main .breadcrumb-class {
		margin-top: 10px;
	}

	footer .gobiernoLinea {
		text-align: left;
	}

	footer .gobiernoLinea a {
		width: 100%;
	}

	footer div.footer-info p.derechos {
		border-right: 0;
		border-left: solid 1px #555;
		padding-right: 0;
		padding-left: 20px;
		text-align: left;
	}

	footer .logos {
		margin-top: 10px;
	}
}

@media screen and (min-width:768px) {
	#services {
		display: block;
		border: 0;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		-ms-border-radius: none;
		-o-border-radius: none;
		border-radius: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
	}

	#services ul {
		position: relative;
		display: block;
		background: transparent;
		top: 0;
	}

	#services ul li a {
		clear: inherit;
	}

	#unalTop .firstMenu #bs-navbar {
		display: none !important;
	}

	#unalTop .firstMenu #profiles ul.dropdown-menu {
		display: block;
		border: 0;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		-ms-border-radius: none;
		-o-border-radius: none;
		border-radius: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		position: relative;
		background-color: transparent;
		padding: 0;
	}
}




/* Estilo para botón transparente con letras blancas */
.btn-transparent {
	background: transparent;
	border: none;
	color: #fff;
	/* Color de texto blanco */
	text-align: left;
	/* Alinea el texto a la izquierda */
	font-family: 'Ancizar sans';
}

/* Anula los estilos de clic y foco para .btn-transparent */
.btn-transparent:active,
.btn-transparent:hover,
.btn-transparent:focus {
	background: transparent;
	box-shadow: none;
	color: white;
	outline: none !important;
	/* Asegura que ningún estilo de enfoque tenga prioridad */
	font-family: 'Ancizar sans';
}



/* Estilo para que el botón ocupe el 100% del contenedor */
.card-header h5 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-header .btn {
	width: 100%;
	/* Ocupar el 100% del ancho horizontal */
	height: 100%;
	/* Ocupar el 100% del alto vertical */
	text-align: left;
	/* Asegura que el texto esté alineado a la izquierda */
}

/* Estilo para los enlaces que parecen botones transparentes */
.card-body a.btn {
	background: transparent;
	border: none;
	color: white;
	text-align: center;
	display: block;
	width: 100%;
	padding: 0.375rem 1rem;
	text-decoration: none;
	transition: background 0.3s;
}


/* Estilo para iluminar los enlaces al pasar el cursor sobre ellos */
.card-body a.btn:hover {
	background: rgba(255, 255, 255, 0.2);
	transition: background 0.3s;
}

.custom-li {
	margin-left: 38px;
}

#button_reagent {
	width: 100%;
	/* Un tamaño de fuente que se ajuste a aproximadamente 5 cm en una pantalla de 14" */
	padding: 0.6em 1.2em;
	/* Padding del botón ajustado para un tamaño aproximado a 5 cm */
}

.button_reagent {
	width: 100%;
	/* Un tamaño de fuente que se ajuste a aproximadamente 5 cm en una pantalla de 14" */
	padding: 0.6em 1.2em;
	/* Padding del botón ajustado para un tamaño aproximado a 5 cm */
}

.sidebar-content {
	display: flex;
}

.side-left-bar {
	width: 15%;
	/* Ancho de la barra lateral derecha */
	top: 20px;
	/* Ajustar según sea necesario */
	margin-right: 2%;
	margin-left: -1%;
}

.contentTemplate {
	width: 85%;
	/* Ancho del contenido principal (ajustar según sea necesario) */
	font-family: 'Ancizar sans';

}

/* clase para el botón de la side bar */

.side-bar-link {
	color: #fff;
	background-color: #2200ff;
	border-color: #007bff;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	cursor: pointer;
	text-decoration: none;
	text-transform: none;
	width: 100%;
	margin-right: -30px;

}

.side-bar-link:hover {
	color: #fff;
	background-color: #0056b3;
	border-color: #004185;
}

.side-bar-link:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #0056b3;
	border-color: #004185;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Otros estados del botón, como active, disabled, etc. */

/* Ejemplo para el estado active */
.side-bar-link:active,
.btn-primary.active {
	color: #fff;
	background-color: #004185;
	border-color: #003157;
}

.background-image-login {
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-image: url(../images/login_image_2.jpg);
	/* Agrega la ruta de tu imagen */
	opacity: 0.7;
	/* Ajusta la opacidad a tu preferencia */
	z-index: 0;
}

/* estilo carrusel incio */
.carousel-inner img {
	width: 100%;
	height: auto;
	opacity: 0.7;
	
}

/* Para pantallas pequeñas */
@media (max-width: 767px) {
    #carouselExampleIndicators {
        margin-left: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
		margin-top: 5%;
		margin-bottom: 0;
		padding-top: 20%;
		padding-bottom: 20%;

    }
}

/* Para pantallas medianas y grandes */
@media (min-width: 768px) {
    #carouselExampleIndicators {
        margin-left: 10%; /* Agregar un margen izquierdo del 5% en pantallas medianas y grandes */
    }
}


@media (max-width: 767px) {
	.carousel-inner img {
		width: 100%;
		height: auto;
	}
}
.multiline {
    white-space: normal;
}


/* Botón de Google */
.gsi-material-button {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-appearance: none;
	background-color: WHITE;
	background-image: none;
	border: 1px solid #747775;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #1f1f1f;
	cursor: pointer;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	height: 40px;
	letter-spacing: 0.25px;
	outline: none;
	overflow: hidden;
	padding: 0 12px;
	position: relative;
	text-align: center;
	-webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
	transition: background-color .218s, border-color .218s, box-shadow .218s;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	max-width: 400px;
	min-width: min-content;
  }
  
  .gsi-material-button .gsi-material-button-icon {
	height: 20px;
	margin-right: 12px;
	min-width: 20px;
	width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
	-webkit-align-items: center;
	align-items: center;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: space-between;
	position: relative;
	width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
	-webkit-transition: opacity .218s;
	transition: opacity .218s;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .gsi-material-button:disabled {
	cursor: default;
	background-color: #ffffff61;
	border-color: #1f1f1f1f;
  }
  
  .gsi-material-button:disabled .gsi-material-button-contents {
	opacity: 38%;
  }
  
  .gsi-material-button:disabled .gsi-material-button-icon {
	opacity: 38%;
  }
  
  .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
	background-color: #303030;
	opacity: 12%;
  }
  
  .gsi-material-button:not(:disabled):hover {
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
	background-color: #303030;
	opacity: 8%;
  }
  

  .custom-table {
    background-color: rgba(255, 255, 255, 0.258);
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}

.custom-table th,
.custom-table td {
    
    padding: 8px;  /* Ajusta según tus necesidades de espaciado en las celdas */
    text-align: left;  /* O ajusta según tus necesidades de alineación */
	cursor: pointer;
}

/* Estilos para filas leídas */
.leido {
	background-color: #f0f0f0; /* Puedes ajustar el color de fondo según tus preferencias */
	color: #666; /* Puedes ajustar el color del texto según tus preferencias */
	cursor: pointer;
	/* Otros estilos específicos para filas leídas */
}

/* Estilos para filas no leídas */
.no-leido {
	background-color: #fff; /* Puedes ajustar el color de fondo según tus preferencias */
	color: #000; /* Puedes ajustar el color del texto según tus preferencias */
	font-weight: bold; /* Puedes ajustar otros estilos según tus preferencias */
	/* Otros estilos específicos para filas no leídas */
	
}
/* Estilos para ancho de filas en listado de solicitudes externas */
.table-row .lab-column {
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-row .subject-column {
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-row .sender-column {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.table-row .date-column {
	max-width: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.table-row .id-column {
	max-width: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

/* incio uniclab */
/* incio uniclab */
.inicio-container {
    background-color: #ffffff6f;
    /* Fondo blanco */
    border: 1px solid #131313a7;
    /* Borde gris claro */
    border-radius: 3px;
    /* Esquinas redondeadas */
    position: relative;
    /* Para posicionar la marca de agua */
	height: 660px;
	width: 100%;
}

.contenido {
    margin: 0 auto;
    /* Centra el contenido */
    padding: 20px;
    /* Espaciado interno */
    text-align: left;
    /* Alinea el texto a la izquierda */
    position: relative;
    /* Añade posición relativa para alinear la marca de agua */
    z-index: 1;
    /* Eleva el contenido sobre la marca de agua */
}

.marca-agua {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    /* Ancho de la imagen */
    height: 200px;
    /* Alto de la imagen */
    opacity: 0.1;
    z-index: 0;
    /* Coloca la marca de agua detrás del contenido */
}

@media (max-width: 767px) {
    /* Estilos específicos para pantallas más pequeñas (menos de 768px de ancho) */
    .marca-agua {
        width: 120px;
        /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
        height: 120px;
		top: 60%;
		opacity: 0.1;
    }
}




/* --------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------- */


/* clase para columkna nombre de reactivo */
.table-row .name-reagent {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
/* clase para columna nombre de reactivo */
.table-row .codes-reagent {
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

/* clase para columna almacenamiento interno de reactivo */
.table-row .internal-storage {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

/* clase para columna almacenamiento interno de reactivo */
.table-row .action-list {
	max-width: 80px;
	min-width: 80px;
	
}

/* estilo para desbordamiento de texto en barra lateral */
.lateral_button {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

/* centrar para movil */
@media (max-width: 767px) {
	/* Ajusta los estilos para pantallas más pequeñas (menos de 768px de ancho) */
	.text-md-left {
		text-align: center !important;
		/* Sobrescribe la alineación a la izquierda y centra en pantallas pequeñas */
	}
}

/* justificar para movil */
@media (max-width: 767px) {
	/* Ajusta los estilos para pantallas más pequeñas (menos de 768px de ancho) */
	.text-xs-justify {
		text-align: justify !important;
		/* Sobrescribe la alineación a la izquierda y centra en pantallas pequeñas */
	}
}


/* clase para columna marcaso */
.table-row .trademark-reagent {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* clase para columna marcaso */
.table-row .amount-reagent {
	max-width: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* clase para columna fechac de solicitud */
.table-row .date-reagent {
	max-width: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

/* clase para columna asunto de la solcitud*/
.table-row .subject-reagent {
	max-width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}


/* clase para columna asunto de la solcitud*/
.table-row .subject-request {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

/* clase para columna almacenamiento interno de reactivo */
.table-row .action-list-sol {
	max-width: 40px;
	min-width: 40px;
	
}

.table-row .user-column {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Coloca la input del captcha al 100% */
#captcha-container {
	width: 100%;
}

/* JUstifica el texto de la politica de tratamiento */

.politica {
	text-align: justify;
}