
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirmación de registro</title>
    
</head>
<body>
    <p>Manizales, {{ fecha_actual }}</p>
    
    {{ message }}

    <p>Cordialmente,<br>
        Equipo de Dirección de Laboratorios<br>
        Universidad Nacional de Colombia - Sede Manizales</p>
    
    <p><strong>Generamos consciencia ambiental:</strong> <i>♻️Considera no imprimir este correo, solo hazlo si es exclusivamente necesario🌳</i></p>
   
    
</body>
</html>
