{% extends "webtemplate.html" %}

<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Creación de Roles{% endblock %}</title>
    {% block head %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
        defer></script> -->
    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <!-- Agrega el enlace al CDN de spin.js antes de tu script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

    {% load static %}

    <link rel="stylesheet" href="{% static 'inventarioreac/stylesShowSpinner.css' %}">
    <!-- Estilos para el letrero de la mitad del spinner -->
    <script src="{% static 'inventarioreac/sendInfo.js' %}" defer></script>
    <!-- Llama Script al final genera alerta informativa con los datos que se va enviar al servidor y acepta-->
    <script src="{% static 'inventarioreac/clearFds.js' %}"></script>
    <!-- Llama Script que borra los campos del formulario cuando se ejecuta cualquier acción -->
    <script src="{% static 'inventarioreac/cancelButtonFunction.js' %}" defer></script>
    <!-- Llama Script  que coloca función al botón cancelar -->



    {% endblock %}
</head>

<body>
    {% block content %}



    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4  col-xs-offset-1">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group">
                            <h1>Creación de Roles</h1>
                        </div>
                    </div>
    
                    <div class="card-body">
                        <!-- HTML para mostrar el spinner -->
                        <p id="message"></p>
                        <div id="spinner"></div>
    
                        <form method="post" id="unit_form" name="form">
                            {% csrf_token %}
    
                            <div class="form-group">
                                <label class="form-label" for="name" name="Nombre del Rol: ">*Nombre del Rol:</label>
                                <input type="text" class="form-control" placeholder="Ejemplo: Administrador" name="name" required
                                    id="name" pattern="^[a-zA-Záéíóú]{1,15}$" title="Ingrese solo letras (máximo 15 caracteres)">
                            </div>
                    </div>
    
                    <div class="card-body text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" onclick="limpiarCampos('form')">Cancelar</button>
                            <input type="button" value="Crear Rol" class="btn btn-primary" id="open_confirm_in">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    {% if messages %}
    {% for message in messages %}
    <!-- Este script no puede ser invocado como un archivo externo. Después de recibir una respuesta del servidor, se
            verifica si la ventana actual es emergente. En caso afirmativo, se muestra una alerta de confirmación o de
            error,se obtienen los valores de los campos de la ventana principal, se recarga la página para actualizar la
            selección y se vuelven a escribir o seleccionar los valores previamente ingresados. Si se agregó un nuevo
            registro de UNIDAD en la base de datos o si este ya existe, se insertará en el campo de selección
            correspondiente. Luego, la ventana emergente se cerrará. Si la ventana no es emergente, se mostrará una alerta
            de éxito o error según corresponda. -->
    <script>

        //Verificar si es ventana emergente
        if (window.opener) {

            // Código para actualizar formulario padre según corresponda

            window.onload = function () {

                mensaje = "{{ message|safe }}";
                alert(mensaje)

                //Obtener el id desde el mensaje
                var id_rol = mensaje.split(": ")[1];


                // Obtener los valores de los elementos necesarios de la ventana padre
                var id_number = window.opener.document.getElementById("id_number").value;
                var id_phone_number = window.opener.document.getElementById("id_phone_number").value;
                var email = window.opener.document.getElementById("email").value;
                var username = window.opener.document.getElementById("username").value;
                var first_name = window.opener.document.getElementById("first_name").value;
                var last_name = window.opener.document.getElementById("last_name").value;
                var id_lab = window.opener.document.getElementById("id_lab").value;
                var password1 = window.opener.document.getElementById("password1").value;
                var password2 = window.opener.document.getElementById("password2").value;
                // Recargar la página padre
                window.opener.location.replace(window.opener.location.href);

                setTimeout(function () {
                    // // Acceder a la ventana padre y actualizar los valores

                    window.opener.document.querySelector("#id_number").value = id_number;
                    window.opener.document.querySelector("#id_phone_number").value = id_phone_number;
                    window.opener.document.querySelector("#email").value = email;
                    window.opener.document.querySelector("#username").value = username;
                    window.opener.document.querySelector("#first_name").value = first_name;
                    window.opener.document.querySelector("#last_name").value = last_name;

                    //Actualiza Select Rol
                    var rol_new = window.opener.document.querySelector("#id_rol");
                    rol_new.value = id_rol;
                    rol_new.setAttribute("selected", true);

                    //Actualiza Select Lab
                    var lab_new = window.opener.document.querySelector("#id_lab");
                    lab_new.value = id_lab;
                    lab_new.setAttribute("selected", true);

                    window.opener.document.querySelector("#password1").value = password1;
                    window.opener.document.querySelector("#password2").value = password2;

                    window.close();

                }, 2500);
            };
        }

        else {
            window.onload = function () {

                var messageText = '{{ message|safe }}';

                var alertType = 'info';  // Tipo de alerta predeterminado para mensajes habituales

                // Verificar el contenido del mensaje para asignar el tipo de alerta adecuado
                if (messageText.includes('Se ha creado exitosamente')) {
                    alertType = 'success';
                } else if (messageText.includes('Por favor seleccione') || messageText.includes('Ya existe') || messageText.includes('Solo se permiten registros ')) {
                    alertType = 'warning';
                }

                // Mostrar la notificación con SweetAlert2
                Swal.fire({
                    icon: alertType,
                    title: 'Mensaje del servidor',
                    text: messageText,
                    confirmButtonText: 'Aceptar'
                });


            };
        }
    </script>
    {% endfor %}
    {% endif %}




    {% endblock %}
</body>

</html>