{% extends "webtemplate.html" %}
<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Creación de Asignaturas y Ubicaciones{% endblock %}</title>
  {% block head %}
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>     -->

  <!-- Incluir SweetAlert2 desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
  <!-- Agrega el enlace al CDN de spin.js antes de tu script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

  {% load static %}

  <link rel="stylesheet" href="{% static 'inventarioreac/stylesShowSpinner.css' %}">
  <!-- Estilos para el letrero de la mitad del spinner -->
  <script src="{% static 'inventarioreac/clearFds.js' %}"></script>
  <!-- Llama Script que borra los campos del formulario cuando se ejecuta cualquier acción -->
  <script src="{% static 'inventarioreac/sendInfo.js' %}" defer></script>
  <!-- Llama Script al final genera alerta informativa con los datos que se va enviar al servidor y acepta-->
  <script src="{% static 'inventarioreac/cancelButtonFunction.js' %}" defer></script>
  <!-- Llama Script  que coloca función al botón cancelar -->

  {% endblock %}

</head>

<body>
  {% block content %}
  <div class="card col-md-8 col-lg-8 col-xs-12">
    <div class="card-header">
      <h1>Creación de Asignaturas y/o Ubicaciones</h1>
    </div>
    <br>
    <div class="card-body">
      <!-- HTML para mostrar el spinner -->
      <p id="message"></p>
      <div id="spinner"></div>

      <form method="post" id="ubicacion_form" name="form">
        {% csrf_token %}

        <div class="form-group">
          <label for="name" class="form-label" name="Nombre Asignatura / Ubicación: ">*Nombre:</label>
          <input type="text" class="form-control" placeholder="Nombre de Asignatura / Ubicación" name="name" required
            id="name" pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]{1,80}"
            title="Ingrese Asignatura / Ubicación, solo letras, máximo 80 caracteres">
        </div>

        <div class="form-group">
          <label for="selectFacultad" class="form-label" name="Facultad: ">*Facultad:</label>
          <select name="facultad" class="form-control" id="selectFacultad" required>
            <option value="">Seleccione</option>
            {% for facultad in facultades %}
            <option value="{{ facultad.id }}">{{ facultad.name }}</option>
            {% endfor %}
          </select>
        </div>

        <input type="hidden" name="wf" class="form-control" value="ubicacion" id="wf">
        <!-- identificador para saber que tipo de ventana es -->
    </div>

    <div class="card-footer text-center">
      
        <button type="button" class="btn btn-success" onclick="limpiarCampos('form')">Cancelar</button>
        <input type="button" value="Crear Ubicación" class="btn btn-primary" id="open_confirm_in">
     
    </div>

    </form>
  </div>

  {% if messages %}
  {% for message in messages %}
  <!-- Este script no puede ser invocado como un archivo externo.  se mostrará una alerta
        de éxito o error según corresponda. -->
  <script>
    //Verifica si es ventana emergente
    if (window.opener) {
      window.onload = function () {
        var mensaje = '{{ message|safe }}';
        alert(mensaje)
        // Expresión regular para extraer el nombre y el correo
        var regex = /nombre: (.*?), facultad: (.*?$)/;

        // Ejecutar la expresión regular en el mensaje
        var matches = mensaje.match(regex);

        if (matches) {
          var location = matches[1]; // Captura el nombre
          var facultad = matches[2]; // Captura el correo
          console.log(location)
          console.log(facultad)


        } else {
          console.log('No se encontró información de nombre y correo en el mensaje.');
        }
        setTimeout(function () {

          window.opener.document.querySelector("#location").value = location;
          window.opener.document.querySelector("#facultad").value = facultad;
          window.close();

        }, 500);
      }
    }
    else {

      window.onload = function () {

        var messageText = '{{ message|safe }}';

        var alertType = 'info';  // Tipo de alerta predeterminado para mensajes habituales

        // Verificar el contenido del mensaje para asignar el tipo de alerta adecuado
        if (messageText.includes('Se ha creado exitosamente')) {
          alertType = 'success';
        } else if (messageText.includes('Por favor seleccione') || messageText.includes('Ya existe') || messageText.includes('Solo se permiten registros ')) {
          alertType = 'warning';
        }

        // Mostrar la notificación con SweetAlert2
        Swal.fire({
          icon: alertType,
          title: 'Mensaje del servidor',
          text: messageText,
          confirmButtonText: 'Aceptar'
        });

      };
    }

  </script>
  {% endfor %}
  {% endif %}

  {% endblock %}

</body>

</html>