{% extends "webtemplate.html" %}
{% load has_group %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Registro de ubicaciones en almacén{% endblock %}</title>
    {% block head %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
        defer></script> -->
    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <!-- Agrega el enlace al CDN de spin.js antes de tu script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

    {% load static %}

    <link rel="stylesheet" href="{% static 'inventarioreac/stylesShowSpinner.css' %}">
    <!-- Estilos para el letrero de la mitad del spinner -->
    <script src="{% static 'inventarioreac/sendInfo.js' %}" defer></script>
    <!-- Llama Script al final genera alerta informativa con los datos que se va enviar al servidor y acepta-->
    <script src="{% static 'inventarioreac/updateLabWlocation.js' %}"></script>
    <!-- Llama Script que actualiza el select laboratorio cuando es ventana emergente -->
    <script src="{% static 'inventarioreac/cancelButtonFunction.js' %}" defer></script>
    <!-- Llama Script  que coloca función al botón cancelar -->

    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="card">
        <div class="card-header">
            <h1>Creación ubicación en almacén</h1>
        </div>
        <br>
        <div class="card-body">
            <!-- HTML para mostrar el spinner -->
            <p id="message"></p>
            <div id="spinner"></div>

            <form method="post" id="wlocation_form" name="form">
                {% csrf_token %}

                <div class="form-group">
                    <label class="form-label">*Laboratorio:</label>
                    {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
                    <select name="lab" class="form-control" required="" id="lab">
                        {% for lab in laboratorios %}

                        {% if lab.id == laboratorio.id %}
                        <option value="{{ lab.name }}" selected="">{{ lab.name }}</option>

                        {% endif %}

                        {% endfor %}
                    </select>
                    {% endif %}
                    {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}
                    <select name="lab" class="form-control" required="" id="lab">
                        <option value="" selected="">Seleccione</option>
                        {% for lab in laboratorios %}

                        <option value="{{ lab.name }}">{{ lab.name }}</option>

                        {% endfor %}
                    </select>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="form-label" for="name" name="Nombre Ubicación: ">*Ubicación:</label>
                    <input type="text" class="form-control" placeholder="Nombre Ubicación" name="name" required
                        id="name" pattern="^[A-Za-z0-9áéíóúÁÉÍÓÚ\s]{1,80}$"
                        title="Palabras o número de máximo 80 caracteres">
                </div>

                <div class="form-group">
                    <label class="form-label" for="description" name="Descripción: ">Descripción:</label>
                    <textarea name="description" class="form-control" placeholder="Descripción" rows="3"
                        id="description"></textarea>
                </div>
        </div>
        <br>
        <div class="card-footer text-center">
            
                <button type="button" class="btn btn-success" onclick="limpiarCampos('form')">Cancelar</button>
                <input type="button" value="Crear Ubicación en almacén" class="btn btn-primary" id="open_confirm_in">
            
        </div>
        </form>

    </div>
    {% if messages %}
    {% for message in messages %}
    <!-- Este script no puede ser invocado como un archivo externo. Después de recibir una respuesta del servidor, se
                verifica si la ventana actual es emergente. En caso afirmativo, se muestra una alerta de confirmación o de
                error,se obtienen los valores de los campos de la ventana principal, se recarga la página para actualizar la
                selección y se vuelven a escribir o seleccionar los valores previamente ingresados. Si se agregó un nuevo
                registro de UBICACIÓN EN EL ALMCÉN en la base de datos o si este ya existe, se insertará en el campo de selección
                correspondiente. Luego, la ventana emergente se cerrará. Si la ventana no es emergente, se mostrará una alerta
                de éxito o error según corresponda. -->
    <script>

        //Verifica si es ventana emergente
        if (window.opener) {

            window.onload = function () {

                //Obtener Id despues del mensaje
                mensaje = "{{ message|safe }}";
                alert(mensaje)
                var wlocation = mensaje.split(": ")[1];

                // Obtener los valores de los elementos necesarios de la ventana padre

                var lab = window.opener.document.getElementById("lab").value;
                var name = window.opener.document.getElementById("name").value;
                var price = window.opener.document.getElementById("price").value;
                var trademark = window.opener.document.getElementById("trademark").value;
                var edate = window.opener.document.getElementById("edate").value;
                var reference = window.opener.document.getElementById("reference").value;
                var weight = window.opener.document.getElementById("weight").value;
                var controlMinStock = window.opener.document.getElementById("controlMinStock").checked;
                var minStockControl = window.opener.document.getElementById("minStockControl").value;
                var minstock = window.opener.document.getElementById("minstock").value;
                var order = window.opener.document.getElementById("order").value;
                var orderdate = window.opener.document.getElementById("orderdate").value;
                var nproject = window.opener.document.getElementById("nproject").value;
                var location = window.opener.document.getElementById("location").value;
                var destination = window.opener.document.getElementById("destination").value;
                var facultad = window.opener.document.getElementById("facultad").value;
                var manager = window.opener.document.getElementById("manager").value;
                var correo = window.opener.document.getElementById("correo").value;
                var observations = window.opener.document.getElementById("observations").value;


                // Recargar la página padre
                window.opener.location.replace(window.opener.location.href);

                //retardo para que los valores se escriban despues de recargar la página
                setTimeout(function () {
                    // Acceder a la ventana padre y actualizar los valores

                    //Actualiza Select lab
                    var lab_new = window.opener.document.querySelector("#lab");
                    lab_new.value = lab;
                    lab_new.setAttribute("selected", true)

                    //Ejecuta función de actualizar opciones del select ubicacoines en el almacén
                    window.opener.updateWlocationOptions()

                    window.opener.document.querySelector("#name").value = name;
                    window.opener.updateFields()

                    window.opener.document.querySelector("#price").value = price;

                    //Actualiza Select trademark
                    var marca_new = window.opener.document.querySelector("#trademark");
                    marca_new.value = trademark;
                    marca_new.setAttribute("selected", true);

                    window.opener.document.querySelector("#edate").value = edate;
                    window.opener.document.querySelector("#reference").value = reference;
                    window.opener.document.querySelector("#weight").value = weight;
                    window.opener.document.querySelector("#minStockControl").value = minStockControl;
                    window.opener.document.querySelector("#controlMinStock").checked = controlMinStock;
                    if (controlMinStock) {
                        window.opener.mostrarBloques();
                    } else {
                        window.opener.ocultarBloques();
                    }
                    window.opener.document.querySelector("#minstock").value = minstock;
                    window.opener.document.querySelector("#order").value = order;
                    window.opener.document.querySelector("#orderdate").value = orderdate;
                    window.opener.document.querySelector("#nproject").value = nproject;
                    window.opener.document.querySelector("#location").value = location;
                    window.opener.document.querySelector("#facultad").value = facultad;

                    //Actualiza Select destination
                    var destination_new = window.opener.document.querySelector("#destination");
                    destination_new.value = destination;
                    destination_new.setAttribute("selected", true);

                    window.opener.document.querySelector("#manager").value = manager;
                    window.opener.document.querySelector("#correo").value = correo;
                    window.opener.document.querySelector("#observations").innerHTML = observations;

                    setTimeout(function () {

                        //Actualiza Select wlocation
                        var wlocation_new = window.opener.document.querySelector("#wlocation");
                        wlocation_new.value = wlocation;
                        wlocation_new.setAttribute("selected", true);

                        window.close();
                    }, 500)
                }, 2500);
            };
        }

        else {
            window.onload = function () {

                //Alerta
                var messageText = '{{ message|safe }}';

                var alertType = 'info';  // Tipo de alerta predeterminado para mensajes habituales

                // Verificar el contenido del mensaje para asignar el tipo de alerta adecuado
                if (messageText.includes('Se ha creado exitosamente')) {
                    alertType = 'success';
                } else if (messageText.includes('Por favor seleccione') || messageText.includes('Ya existe') || messageText.includes('Solo se permiten registros ')) {
                    alertType = 'warning';
                }

                // Mostrar la notificación con SweetAlert2
                Swal.fire({
                    icon: alertType,
                    title: 'Mensaje del servidor',
                    text: messageText,
                    confirmButtonText: 'Aceptar'
                });


            };
        }
    </script>
    {% endfor %}
    {% endif %}

    {% endblock %}

</body>

</html>