{% extends "webtemplate.html" %}
<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Creación de responsables{% endblock %}</title>
  {% block head %}
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
    defer></script>
  -->
  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  
    {% load static %}
  <link rel="stylesheet" href="{% static 'stylesIcon.css' %}"><!-- Estilos para organizar íconos -->

  <script src="{% static 'clearFds.js' %}"></script>
  <!-- Llama Script que borra los campos del formulario cuando se ejecuta cualquier acción -->
  <script src="{% static 'pushPrefix.js' %}" defer></script>
  <!-- Llama Script que inserta banderas y prefijos -->
  {% endblock %}
</head>

<body>
  {% block content %}

  <div class="container mt-5">
    <h1>Crear Responsables</h1>
    <div class="row">

      <form method="post" class="row g-3" id="responsable_form" name="form">
        {% csrf_token %}

        <div class="col-md-3">
          <div class="col-md-12">
            <label class="form-label">Cédula de ciudadanía:</label>
            <input type="text" class="form-control" placeholder="Ingresa tu número de cédula" name="cc" required id="cc"
              pattern="[0-9]+"
              title="Ingrese su número de cédula (solo números enteros positivos, sin puntos ni comas)">

          </div>

          <div class="col-md-12">
            <label class="form-label">Nombres y apellidos:</label>
            <input type="text" class="form-control" placeholder="Nombre y apellidos" name="name" required id="name"
              title="Ingrese nombre y apellidos">
          </div>

          <div class="col-md-12">
            <label class="form-label"><br>Teléfono:</label>
            <div id="phone-input-wrapper" class="input-with-icon">
              <span class="input-icon">
                <img src="{% static 'Images/phone.png' %}" alt="Icono de teléfono" class="input-icon-img">
              </span>
              <input type="text" class="form-control" placeholder="Escribe número telefónico" name="phone" required
                id="phone" pattern="[0-9]{10,}"
                title="Ingrese su número telefónico (solo números enteros positivos de al menos 10 dígitos)">

            </div>
          </div>

          <input type="hidden" id="prefix"
            name="prefix"><!-- prefifx oculto, lo toma automaticamente para ser concatenado e insertado en la db con el +57 -->

          <div class="col-md-12">
            <label class="form-label"><br>Correo Electrónico:</label>
            <div class="input-with-icon">
              <span class="input-icon">
                <img src="{% static 'Images/email.png' %}" alt="Icono de correo electrónico" class="input-icon-img">
              </span>
              <input type="email" class="form-control" placeholder="Email" name="mail" required id="mail">
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <input type="submit" value="Crear Responsable" class="btn btn-primary">
        </div>

      </form>
      {% if messages %}
      {% for message in messages %}
      <!-- Este script no puede ser invocado como un archivo externo. Después de recibir una respuesta del servidor, se
    verifica si la ventana actual es emergente. En caso afirmativo, se muestra una alerta de confirmación o de
    error,se obtienen los valores de los campos de la ventana principal, se recarga la página para actualizar la
    selección y se vuelven a escribir o seleccionar los valores previamente ingresados. Si se agregó un nuevo
    registro de RESPONSABLE en la base de datos o si este ya existe, se insertará en el campo de selección
    correspondiente. Luego, la ventana emergente se cerrará. Si la ventana no es emergente, se mostrará una alerta
    de éxito o error según corresponda. -->

      <script>
        if (window.opener) {

          // Si es una ventana emergente, hacer algo y luego cerrar la ventana
          window.onload = function () {

            alert('{{ message }}');

            //Obtener nombre despues del mensaje
            mensaje = "{{ message }}";
            var manager = mensaje.split(": ")[1];

            //retardo para que los valores se escriban despues de recargar la página
            setTimeout(function () {

              window.opener.document.querySelector("#manager").value = manager;
              window.close();

            }, 500);
          };

        }
        else {
          window.onload = function () {

            alert('{{ message }}');
          };
        }

      </script>
      {% endfor %}
      {% endif %}
    </div>
    {% endblock %} 
</body>

</html>