{% extends "webtemplate.html" %}
<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Creación de responsables{% endblock %}</title>
  {% block head %}
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
    defer></script>
  -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <!-- Incluir SweetAlert2 desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
  <!-- Agrega el enlace al CDN de spin.js antes de tu script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

  {% load static %}

  <link rel="stylesheet" href="{% static 'inventarioreac/stylesShowSpinner.css' %}">
  <!-- Estilos para el letrero de la mitad del spinner -->
  <link rel="stylesheet" href="{% static 'inventarioreac/stylesIcon.css' %}"><!-- Estilos para organizar íconos -->
  <link rel="stylesheet" href="{% static 'inventarioreac/stylesCheckBox.css' %}">
  <!-- Estilos para organizar la políca de tratamiento de datos -->

  <script src="{% static 'inventarioreac/clearFds.js' %}"></script>
  <!-- Llama Script que borra los campos del formulario cuando se ejecuta cualquier acción -->
  <!-- <script src="{% static 'inventarioreac/pushPrefix.js' %}" defer></script> -->
  <!-- Llama Script que inserta banderas y prefijos -->
  <script src="{% static 'inventarioreac/sendInfo.js' %}" defer></script>
  <!-- Llama Script al final genera alerta informativa con los datos que se va enviar al servidor y acepta-->
  <script src="{% static 'inventarioreac/putValueAccept.js' %}" defer></script>
  <!-- Llama Script que coloca valor al check de acepta -->
  <script src="{% static 'inventarioreac/cancelButtonFunction.js' %}" defer></script>
    <!-- Llama Script  que coloca función al botón cancelar -->
  {% endblock %}
</head>

<body>
  {% block content %}

  <div class="card mt-5 col-md-5">
    <div class="card-header">
      <h1>Crear Responsables</h1>
    </div>
    <br>
    <div class="card-body">
      <!-- HTML para mostrar el spinner -->
      <p id="message"></p>
      <div id="spinner"></div>

      <form method="post" class="row g-3" id="responsable_form" name="form">
        {% csrf_token %}

        
          <div class="form-group">
            <label class="form-label" for="cc" name="Cédula de ciudadanía: ">*Identificación:</label>
            <input type="text" class="form-control" placeholder="Ingresa tu número de cédula" name="cc" required id="cc" pattern="^(?:[1-9]\d{6,10}|9999999999)$" title="Ingrese un número de cédula entre 1000000 y 9999999999 (sin puntos ni comas)">
          </div>

          <div class="form-group">
            <label class="form-label" for="name" name="Nombre y apellidos: ">*Nombres y Apellidos:</label>
            <input type="text" class="form-control" placeholder="Nombre y apellidos" name="name" required id="name" pattern="^(?:[a-zA-Zá-úÁ-Ú]+\s){1,3}[a-zA-Zá-úÁ-Ú]+$" title="Ingrese mínimo 2 y máximo 4 palabras (No se permiten números ni caracteres especiales)">
          </div>

          <div style="display: none;">
            <input type="hidden" id="prefix" name="prefix"><!-- prefifx oculto, lo toma automaticamente para ser concatenado e insertado en la db con el +57 -->
          </div>

          

          <div class="form-group">
            <label class="form-label" for="mail" name="Correo Electrónico: "><br>*Correo Electrónico:</label>
            <div class="input-with-icon">
              <span class="input-icon">
                <img src="{% static 'inventarioreac/Images/email.png' %}" alt="Icono de correo electrónico" class="input-icon-img">
              </span>
              <input type="email" class="form-control" placeholder="Email" name="mail" required id="mail" pattern="^[a-zA-Z0-9.-_]+@[a-zA-Z]+\.[a-zA-Z]{2,}(?:\.[a-zA-Z]+)?$" title="Ingrese una dirección de correo electrónico válida (max 40 caracteres)" maxlength="40">
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="phone" name="Teléfono: "><br>*Teléfono:</label>
            <div id="phone-input-wrapper" class="input-with-icon" >
              <span class="input-icon">
                <img src="{% static 'inventarioreac/Images/phone.png' %}" alt="Icono de teléfono" class="input-icon-img">
              </span>
              <input type="number" class="form-control" placeholder="Escribe número telefónico" name="phone" required
                id="phone" pattern="[0-9]{10,13}" min="0" max="9999999999" maxlength="13" minlength="10"
                title="Ingrese su número telefónico (solo números enteros positivos de 10 a 13 dígitos)" >
            </div>
          </div>

          <br>
          <div class="form-group">
            <div class="politicaTratamiento">
              <input type="checkbox" id="acceptDataProcessing" name="acceptDataProcessing" unchecked required value="">
              <label for="acceptDataProcessing" class="politica-label" name="Acepta política de tratamiento de datos personales: ">
                <p class="politica">
                  * DE ACUERDO CON LA <a href="https://unal.edu.co/tratamiento-de-datos-personales" target="_blank"> LEY 1581 DE 2012 DE PROTECCIÓN DE DATOS PERSONALES</a>, HE LEÍDO, ENTENDIDO Y ACEPTO, LOS TÉRMINOS DESCRITOS EN LA POLÍTICA DE TRATAMIENTO DE DATOS PERSONALES.<br><br>
                </p>
              </label>
            </div>
          </div>
    </div>
    <div class="card-footer text-center">
      
        <button type="button" class="btn btn-success" onclick="limpiarCampos('form')">Cancelar</button>
        <input type="button" value="Crear Responsable" class="btn btn-primary" id="open_confirm_in">
      
    </div>
  </div>

  </form>
  {% if messages %}
  {% for message in messages %}
  <!-- Este script no puede ser invocado como un archivo externo. Después de recibir una respuesta del servidor, se
    verifica si la ventana actual es emergente. En caso afirmativo, se muestra una alerta de confirmación o de
    error,se obtienen los valores de los campos de la ventana principal, se recarga la página para actualizar la
    selección y se vuelven a escribir o seleccionar los valores previamente ingresados. Si se agregó un nuevo
    registro de RESPONSABLE en la base de datos o si este ya existe, se insertará en el campo de selección
    correspondiente. Luego, la ventana emergente se cerrará. Si la ventana no es emergente, se mostrará una alerta
    de éxito o error según corresponda. -->

  <script>
    if (window.opener) {

      // Si es una ventana emergente, hacer algo y luego cerrar la ventana
      window.onload = function () {
        var mensaje = '{{ message|safe }}';
        alert(mensaje)
        // Expresión regular para extraer el nombre y el correo
        var regex = /nombre: (.*?), correo: (.*?$)/;

        // Ejecutar la expresión regular en el mensaje
        var matches = mensaje.match(regex);

        if (matches) {
          var manager = matches[1]; // Captura el nombre
          var correo = matches[2]; // Captura el correo


        } else {
          console.log('No se encontró información de nombre y correo en el mensaje.');
        }
        setTimeout(function () {

          window.opener.document.querySelector("#manager").value = manager;
          window.opener.document.querySelector("#correo").value = correo;
          window.close();

        }, 500);
      };

    }
    else {
      window.onload = function () {

        var messageText = '{{ message|safe }}';

        var alertType = 'info';  // Tipo de alerta predeterminado para mensajes habituales

        // Verificar el contenido del mensaje para asignar el tipo de alerta adecuado
        if (messageText.includes('Se ha creado exitosamente')) {
          alertType = 'success';
        } else if (messageText.includes('Por favor seleccione') || messageText.includes('Ya existe') || messageText.includes('Solo se permiten registros ')) {
          alertType = 'warning';
        }

        // Mostrar la notificación con SweetAlert2
        Swal.fire({
          icon: alertType,
          title: 'Mensaje del servidor',
          text: messageText,
          confirmButtonText: 'Aceptar'
        });
      };
    }

  </script>
  {% endfor %}
  {% endif %}

  {% endblock %}
</body>

</html>