{% extends "webtemplate.html" %}
{% load has_group %}
<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Visualización de inventarios{% endblock %}</title>
    {% block head %}
    <!-- jquery para autocomplete -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    {% load static %}
    <!-- Coloca el laboratorio por si es coordinador o administrador -->
    {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
    {% for lab in laboratorios %}
    {% if lab.id == laboratorio.id %}
    <script>
        labDefault = '{{ lab.id }}'
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}

    <script>
        labDefault = "0"
    </script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'inventarioreac/inventoryStyles.css' %}">
    <script src="{% static 'inventarioreac/paginationInventoryControl.js' %}"></script>
    <!-- Llama Script que controla la paginación -->
    <!-- Llama Script que controla los select según el inventario -->
    <script src="{% static 'inventarioreac/holdSelect.js' %}" defer></script>
    <!-- Llama Script que controla los select según el inventario -->
    <script src="{% static 'inventarioreac/highlightPaginationControl.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script>var inventarioUrl = "{% url 'reactivos:inventario' %}";</script>
    <script src="{% static 'inventarioreac/sortByControl.js' %}" defer></script>
    <!-- Llama Script que envía datos de ordenamiento de registros -->
    <script src="{% static 'inventarioreac/openDetailReactive.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script src="{% static 'inventarioreac/updateUrl.js' %}"></script>
    <!-- Llama Script que actualiza URL -->
    <!-- Llama Script que verifica la fecha de vencimiento de los reactivos -->
    <script src="{% static 'inventarioreac/listActionsControl.js' %}" defer></script>
    <!-- Llama Script que controla las acciones de la lista -->
    <script src="{% static 'inventarioreac/js/clearFieldsFindEvent.js' %}" defer></script>
    <!-- Llama Script que Limpia la búsqueda -->
    <script src="{% static 'inventarioreac/autocompletelistin.js' %}"></script>
    <!-- Llama Script que coloca una lista autocompletable de reactivos sobre el campo name -->
    {% endblock %}
</head>

<body>
    {% block content %}
    
        <div class="card col-md-9 col-lg-9" style="margin-left: -15px;">
            <div class="card-header">
                <h1>Inventario Reactivos</h1>
            </div>
            <br>
            <div class="card-body">
                <form method="get" onsubmit="guardarValoresSelect()" class="row g-3" name="listadoReactivos" id="listadoReactivos">

                    <div class="form-group col-md-6">
                        <label for="lab">Laboratorio:</label>
                        {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
                        <select name="lab" class="form-control" id="lab">
                            {% for lab in laboratorios %}
                            {% if lab.id == laboratorio.id %}
                            <option value="{{ lab.id }}" selected="">{{ lab.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% endif %}

                        {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}
                        <select name="lab" class="form-control" id="lab">
                            <option value='0' selected="">TODOS</option>
                            {% for lab in laboratorios %}
                            <option value="{{ lab.id }}">{{ lab.name }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label for="name">Nombre, código o cas:</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <input type="hidden" id="id_r" name="id_r">
                    </div>

            </div>

            <div class="card-footer text-md-left">
                <button id="boton-buscar" type="submit" class="btn btn-primary">Buscar</button>
                <button type="button" class="btn btn-success visible-xs-inline" onclick="limpiarCampos('listadoReactivos')">Limpiar
                    búsqueda
                </button>
            </div>
            </form>
        </div>
    

    <div class="col-md-12 col-lg-12" style="margin-bottom: 10px; margin-top: 10px; margin-left: -15px;">
        <!-- Control de paginación -->
        <div class="d-flex justify-content-between">
            <div>Ver&nbsp;
                <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    <a href="{% url 'reactivos:GuardarPerPage' per_page=10 %}" class="btn btn-secondary btn-sm"
                        id="per-page-10">10</a>
                    <a href="{% url 'reactivos:GuardarPerPage' per_page=20 %}" class="btn btn-secondary btn-sm"
                        id="per-page-20">20</a>
                    <a href="{% url 'reactivos:GuardarPerPage' per_page=50 %}" class="btn btn-secondary btn-sm"
                        id="per-page-50">50</a>

                </div>&nbsp;Registros por página
            </div>
        </div>
    </div>
    
    <br>
    <div class="table-responsive">
        <table class="table custom-table" id="tabla-inventario">
            <thead style="background-color: rgb(205, 203, 203); position: sticky; top: 0; z-index: 10; border-bottom: 1px solid black; border-top: 1px solid black;">
                <tr>
                    <th class="sortable-header hidden-xs" data-column="0" data-column-name="id" title="Ordenar por código" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Id</th>
                    <th class="sortable-header" data-column="1" title="Ordenar por nombre" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Nombre</th>
                    <th class="sortable-header hidden-xs" data-column="2" title="Ordenar por marca" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Marca</th>
                    <th class="sortable-header hidden-xs" data-column="3" title="Ordenar por referencia" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Referencia</th>
                    <th class="sortable-header" data-column="4" title="Ordenar por cantidad" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Cantidad</th>
                    <th class="sortable-header hidden-xs" data-column="5" title="Ordenar por Stock Mínimo" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Inventario Mínimo</th>
                    <th class="sortable-header hidden-xs" data-column="6" title="Ordenar por ubicación" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Ubicación</th>
                    <th class="sortable-header hidden-xs" data-column="7" title="Ordenar por laboratorio"style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">Laboratorio</th>
                    <th class="sortable-header hidden-xs" data-column="8" data-column-name="date"title="Ordenar por fecha de vencimiento" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; cursor: default;">Vencimiento</th>
                    <th class="sortable-header" title="Visibilidad a los demás laboratorios" style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; cursor: default;">Visbilidad</th>
                    
                </tr>
            </thead>

            <tbody>
                {% for item in object_list %}
                <tr class="table-row">
                    
                    <td title="Consecutivo {{ item.id }}" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;" class="codes-reagent hidden-xs">{{ item.id }}</td>
                    <td title="Nombre: {{ item.name }}" class="detalle-reactivo name-reagent" style="border-bottom: 1px solid black; border-top: 1px solid black;"
                    data-reactivo-id="{{ item.id }}"
                    data-reactivo-name="{{ item.name }}" data-reactivo-code="{{ item.name.code }}"
                    data-reactivo-cas="{{ item.name.cas }}" data-reactivo-trademark="{{ item.trademark }}"
                    data-reactivo-reference="{{ item.reference }}"
                    data-reactivo-quantity="{{ item.weight|floatformat:1 }}"
                    data-reactivo-minstock="{{ item.minstock|floatformat:0 }}"
                    data-reactivo-unit="{{ item.name.unit }}" data-reactivo-wlocation="{{ item.wlocation }}"
                    data-reactivo-lab="{{ item.lab }}" data-reactivo-edate="{{ item.edate }}"
                    data-reactivo-almacenamiento_interno="{{ item.name.almacenamiento_interno }}"
                    data-reactivo-clase_almacenamiento="{{ item.name.clase_almacenamiento }} {{ item.name.clase_almacenamiento.description }}"
                    data-reactivo-state="{{ item.name.state }}"
                    data-reactivo-date_create="{{ item.date_create }}"
                    data-reactivo-create_by="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                    data-reactivo-lastupdate="{{ item.last_update }}"
                    data-reactivo-update_by="{{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}"
                    title="Más información sobre el registro de inventario de: {{ item.name }}"><a>{{ item.name }}</a></td>
                    <td title="Marca {{ item.trademark }}" class="trademark-reagent hidden-xs" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.trademark }}</td>
                    <td title="Referencia {{ item.reference }}" class="codes-reagent hidden-xs" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.reference }}</td>
                    <td title="Cantidad  {{ item.weight|floatformat:1 }} {{ item.name.unit }}" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.weight|floatformat:1 }} {{ item.name.unit }}</td>
                    <td title="Stock Mínimo {{ item.minstock|floatformat:0 }} {{ item.name.unit }}" class="codes-reagent hidden-xs" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.minstock|floatformat:0 }} {{ item.name.unit }}</td>
                    <td title="Ubicación {{ item.wlocation }}" class="trademark-reagent hidden-xs" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.wlocation }}</td>
                    <td title="Laboratorio {{ item.lab }}" class="trademark-reagent hidden-xs" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;">{{ item.lab }}</td>
                    <td title="Fecha de vencimiento {% if item.edate %}{{ item.edate }}{% endif %}" style="border-bottom: 1px solid black; border-top: 1px solid black; cursor: default;" class="hidden-xs">
                        {% if item.edate %}
                        {{ item.edate }}
                        {% endif %}
                    </td>
                    <td title="Visibilidad de reactivo {{ item.name }}: {% if item.visibility %}visible{% else %}no visible{% endif %}" style="border-bottom: 1px solid black; border-top: 1px solid black; text-align: center;">

                        <!-- si es adminstrador permite activar o inactivar si no lo es solo muestra la imagen -->
                        {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser or request.user|has_group:"COORDINADOR" %}
                        {% if item.visibility %}
                        <a href="javascript:void(0);" onclick="confirmHideReagent({{ item.id }}, '{{ item.name }}')"><img
                                src="{% static 'inventarioreac/Images/active_icon.png' %}" alt="" width="18" height="18"
                                title="Desactivar visibilidad de reactivo {{ item.name }}"></a>
                        {% else %}
                        <a href="javascript:void(0);" onclick="confirmShowReagent({{ item.id }}, '{{ item.name }}')"><img
                                src="{% static 'inventarioreac/Images/inactive_icon.png' %}" alt="" width="18"
                                height="18" title="Activar visibilidad de reactivo {{ item.name }}"></a>
                        {% endif %}
                        {% elif request.user|has_group:"TECNICO" %}
                        {% if item.visibility %}
                        <img src="{% static 'inventarioreac/Images/active_icon.png' %}" alt="" width="18" height="18"
                            title="Reactivo {{ item.name }} visible a otros laboratorios">
                        {% else %}
                        <img src="{% static 'inventarioreac/Images/inactive_icon.png' %}" alt="" width="18" height="18"
                            title="Reactivo {{ item.name }} no visible a otros laboratorios">
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
            {% if reactivo_filtrado %}
                
            
                
            <tfoot style="background-color: #419741e7; color: #f7fff6;">
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs">TOTAL</td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;">{{ reactivo_filtrado }}</td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs"></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs"></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;">{{ cantidad_filtrada }} {{ unidad_filtrada }}</td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs"></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs"></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs"></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;" class="hidden-xs"></td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; font-weight: bold;"></td>
                      
                </tr>
            </tfoot>
            
            {% endif %}
        </table>

        <br>
        <div class="d-flex justify-content-between">
            <!-- Controles de navegación de página -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="" id="first-page-link">Primera</a>
                    <a href="" id="previous-page-link">Anterior</a>
                    {% endif %}

                    <span class="current-page">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>

                    {% if page_obj.has_next %}
                    <a href="" id="next-page-link">Siguiente</a>
                    <a href="" id="last-page-link">Última</a>
                    {% endif %}
                </span>
            </div>

            <!-- Información de paginación -->
            <div class="pagination-info">
                Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ paginator.count }} registros
            </div>
        </div>

        <br>
        <!-- Opciones de exportación -->
        <a href="{% url 'reactivos:export_to_excel' %}" class="btn btn-primary">Exportar a Excel</a>
        <!-- <a href="{% url 'reactivos:export_to_pdf' %}" class="btn btn-primary">Exportar a PDF</a> -->

    </div>

    <!-- Este script no puede ser llamado de manera independiente ya que tiene muchas variables provenientes del servidor -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const baseUrl = window.location.href;
            const currentPage = '{{ page_obj.number }}';
            const nextPage = parseInt(currentPage) + 1
            const previousPage = parseInt(currentPage) - 1
            const totalPages = '{{ page_obj.paginator.num_pages }}';


            '{% if page_obj.has_previous %}'
            const firstPageLink = document.getElementById('first-page-link');
            const previousPageLink = document.getElementById('previous-page-link');
            firstPageLink.href = baseUrl + '&page=1';
            previousPageLink.href = baseUrl + '&page=' + previousPage;
            '{% endif %}'

            '{% if page_obj.has_next %}'
            const nextPageLink = document.getElementById('next-page-link');
            const lastPageLink = document.getElementById('last-page-link');
            nextPageLink.href = baseUrl + '&page=' + nextPage;
            lastPageLink.href = baseUrl + '&page=' + totalPages;

            '{% endif %}'
        });
    </script>
    {% endblock %}
</body>

</html>