{% extends "webtemplate.html" %}
{% load has_group %}
<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Listado de entradas{% endblock %}</title>
    {% block head %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
        defer>
        </script> -->

    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    {% load static %}
    {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
    {% for lab in laboratorios %}
    {% if lab.id == laboratorio.id %}



    <script>
        labDefault = '{{ lab.id }}'
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}

    <script>
        labDefault = "0"
    </script>
    {% endif %}
    <script>
        today="{{ today|date:'Y-m-d' }}"
        // oneMonthAgo="{{ one_month_ago|date:'Y-m-d' }}"
    </script>
    <link rel="stylesheet" href="{% static 'inventarioreac/inventoryStyles.css' %}">
    <script src="{% static 'inventarioreac/paginationInventoryControl.js' %}"></script>
    <!-- Llama Script que controla la paginación -->
    <script src="{% static 'inventarioreac/selectControlIn.js' %}" defer></script>
    <!-- Llama Script que controla los select según el inventario -->
    <script src="{% static 'inventarioreac/holdSelectIn.js' %}" defer></script>
    <!-- Llama Script que controla los select según el inventario -->
    <script src="{% static 'inventarioreac/highlightPaginationControl.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script>var inventarioUrl = "{% url 'reactivos:inventario' %}";</script>
    <script src="{% static 'inventarioreac/sortByControl.js' %}" defer></script>
    <!-- Llama Script que envía datos de ordenamiento de registros -->
    <script src="{% static 'inventarioreac/openDetailIn.js' %}" defer></script>
    <script src="{% static 'inventarioreac/openDetailUser.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script src="{% static 'inventarioreac/updateUrl.js' %}"></script>
    <!-- Llama Script que actualiza URL -->
    <script src="{% static 'inventarioreac/validateLapse.js' %}"></script>
    <!-- Llama Script que actualiza URL -->
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1>Listado de registros de entrada</h1>
            <br>

            <form method="get" onsubmit="guardarValoresSelect()">

                <div class="row justify-content-between">

                    <div class="col-md-4 d-flex flex-column align-items-left">
                        <label for="lab">Laboratorio:</label>
                        {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
                        <select name="lab" class="form-control" id="lab">
                            {% for lab in laboratorios %}
                            {% if lab.id == laboratorio.id %}
                            <option value="{{ lab.id }}" selected="">{{ lab.name }}</option>

                            {% endif %}
                            {% endfor %}
                        </select>
                        {% endif %}


                        {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}
                        <select name="lab" class="form-control" id="lab">
                            <option value='0' selected="">Todos</option>
                            {% for lab in laboratorios %}

                            <option value="{{ lab.id }}">{{ lab.name }}</option>

                            {% endfor %}
                        </select>
                        {% endif %}


                    </div>


                    <div class="col-md-4 d-flex flex-column align-items-left">
                        <label for="name">Nombre Reactivo:</label>
                        <select id="name" name="name" class="form-control">
                            <option value="">Todos</option>
                            {% for item in unique_names %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-left">
                        <label for="destination">Destino:</label>
                        <select id="destination" name="destination" class="form-control">
                            <option value="">Todos</option>
                            {% for item in destinations %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4 d-flex flex-column align-items-left">
                        <label for="location">Asignatura/Ubicación:</label>
                        <select id="location" name="location" class="form-control">
                            <option value="">Todas</option>
                            {% for item in unique_locations %}
                            
                            <option value="{{ item.id }}">{{ item.name }} - {{item.facultad}}</option>
                            
                            {% endfor %}
                        </select>
                    </div>
                   


                    <div class="col-md-4 d-flex flex-column align-items-left">
                        <label for="created_by">Usuario que registra:</label>
                        <select id="created_by" name="created_by" class="form-control">
                            <option value="">Todos</option>
                            {% for item in created_bys %}
                            <option value="{{ item.id }}">{{ item.first_name }} {{ item.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2 d-flex flex-column align-items-left">
                        <label for="start_date">Fecha Inicial:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control"  max="{{ today|date:'Y-m-d' }}">
                        <span class="validation-message" id="start-date-validation" style="color: red;">La fecha incial debe ser igual o anterior a "{{ today|date:'Y-m-d' }}".</span>
                    </div>
                    
                    <div class="col-md-2 d-flex flex-column align-items-left">
                        <label for="end_date">Fecha Final:</label>
                        <input type="date" id="end_date" name="end_date" class="form-control" value="{{ today|date:'Y-m-d' }}" max="{{ today|date:'Y-m-d' }}">
                        <span class="validation-message" id="end-date-validation" style="color: red;">La fecha incial debe ser igual o anterior a "{{ today|date:'Y-m-d' }}"</span>
                    </div>
                    <script>
                        
                    </script>
                    
                    
                    

                    <div class="col-md-4 d-flex align-items-end">
                        <button id="boton-buscar" type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
        </div>
    </div>
    <br>

    <div class="col-md-11 mx-auto">
        <!-- Control de paginación -->
        <div class="d-flex justify-content-between">
            <div>
                Ver&nbsp;
                <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    <a href="{% url 'reactivos:GuardarPerPageIn' per_page=10 %}" class="btn btn-secondary btn-sm"
                        id="per-page-10">10</a>
                    <a href="{% url 'reactivos:GuardarPerPageIn' per_page=20 %}" class="btn btn-secondary btn-sm"
                        id="per-page-20">20</a>
                    <a href="{% url 'reactivos:GuardarPerPageIn' per_page=50 %}" class="btn btn-secondary btn-sm"
                        id="per-page-50">50</a>

                </div>&nbsp;Registros por página
            </div>
        </div>
        </form>
        <br>
        <div class="table-responsive">
            <table class="table" id="tabla-inventario">
                <thead>
                    <tr>
                        <th class="sortable-header" data-column="0" title="Ordenar por Consecutivo">Id entrada</th>
                        <th class="sortable-header" data-column="1" title="Ordenar por fecha">Fecha Creación</th>
                        <th class="sortable-header" data-column="2" title="Ordenar por nombre">Nombre</th>
                        <th class="sortable-header" data-column="3" title="Ordenar por marca">Marca</th>
                        <th class="sortable-header" data-column="4" title="Ordenar por referencia">Referencia</th>
                        <th class="sortable-header" data-column="5" title="Ordenar por cantidad">Cantidad</th>
                        <th class="sortable-header" data-column="6" title="Ordenar por laboratorio">Laboratorio</th>
                        <th class="sortable-header" data-column="7" title="Ordenar por Orden">Orden</th>
                        <th class="sortable-header" data-column="8" title="Ordenar por Proyecto">Proyecto</th>
                        <th class="sortable-header" data-column="9" title="Ordenar por Valor">Valor</th>
                        <th class="sortable-header" data-column="10" title="Ordenar por Destino">Destino</th>
                        <th class="sortable-header" data-column="11" title="Ordenar por Responsable">Responsable</th>
                        <th class="sortable-header" data-column="12" title="Ordenar por Asignatura/Ubicación">Asignatura
                        </th>
                        <th class="sortable-header" data-column="13" title="Facultad">Facultad</th>
                        <th class="sortable-header" data-column="14" title="Ordenar por Responsable del Registro">
                            Usuario registra</th>
                        <th class="sortable-header" data-column="15" title="Ordenar por Última Actualización por">
                            Usuario actualiza</th>
                        <th class="sortable-header" title="Visualización de detalle (no ordena)">Ver detalle</th>
                        <th class="sortable-header" title="Acciones con el registro (no ordena)" >Acciones<p style="color: transparent;">***********</p>
                        </th>
                    </tr>
                </thead>


                <tbody>
                    {% for item in object_list %}
                    <tr class="table-row">
                        <td title="Número de registro de la entrada">{{ item.id }}</td>
                        <td title="Fecha de entrada">{{ item.date_create|date:"d/m/Y" }}</td>
                        <td title="Reactivo">{{ item.name }}</td>
                        <td title="Marca">{{ item.trademark }}</td>
                        <td title="Referencia ">{{ item.reference }}</td>
                        <td title="Cantidad  de {{ item.name }}">{{ item.weight|floatformat:1 }} {{ item.name.unit }}
                        </td>
                        <td title="Laboratorio al que pertenece el reactivo {{ item.name }}">{{ item.lab }}</td>
                        <td title="Orden {{ item.name }}">{{ item.order }} de {{ item.date_order }}</td>
                        <td title="Número de proyecto {{ item.name }}">{{ item.nproject }}</td>
                        <td title="Valor Ingreso {{ item.name }}">{{ item.price }}</td>
                        <td title="Destino de ingreso {{ item.name }}">{{ item.destination }}</td>
                        <td title="Correo: {{ item.manager.mail }} Teléfono: {{ item.manager.phone }}"> 
                            {{ item.manager }}
                        </td>
                        <td title="Ubicación de ingreso {{ item.name }}">{{ item.location }}</td>
                        <td title="Facultad de ingreso {{ item.name }}">{{ item.location.facultad }}</td>
                        <td  class="created_by_cell" title="Más información de: {{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                        date_user_create="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                        data-reactivo-name="{{ item.name }}"
                        data-reactivo-date="{{ item.date_create|date:'d/m/Y' }}"
                        date_user_id="{{ item.created_by.id_number }}"
                        date_user_username="{{ item.created_by.username }}"
                        date_user_mail="{{ item.created_by.email }}"
                        date_user_phone="{{ item.created_by.phone_number }}"
                        date_user_lab="{{ item.created_by.lab }}"
                        date_user_rol="{{ item.created_by.rol }}"
                        date_user_datejoined="{{ item.created_by.date_joined }}"
                        date_user_lastlogin="{{ item.created_by.last_login }}"
                        date_user_type="crea"
                        >
                        {{ item.created_by.first_name }} {{ item.created_by.last_name }}
                        </td>
                        <td class="created_by_cell" title="Más información de: {{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}"
                        date_user_create="{{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}"
                        data-reactivo-name="{{ item.name }}"
                        data-reactivo-date="{{ item.last_update|date:'d/m/Y' }}"
                        date_user_id="{{ item.last_updated_by.id_number }}"
                        date_user_username="{{ item.last_updated_by.username }}"
                        date_user_mail="{{ item.last_updated_by.email }}"
                        date_user_phone="{{ item.last_updated_by.phone_number }}"
                        date_user_lab="{{ item.last_updated_by.lab }}"
                        date_user_rol="{{ item.last_updated_by.rol }}"
                        date_user_datejoined="{{ item.last_updated_by.date_joined }}"
                        date_user_lastlogin="{{ item.last_updated_by.last_login }}"
                        date_user_type="actualiza">{{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}</td>
                        <!-- Modifica el evento click de la imagen para mostrar SweetAlert -->
                        <td>
                            <img src="{% static 'inventarioreac/Images/moreInfo.ico' %}" alt="" width="18" height="18"
                                class="detalle-reactivo" data-reactivo-id="{{ item.id }}"
                                data-reactivo-name="{{ item.name }}" data-reactivo-order="{{ item.order }}"
                                data-reactivo-date="{{ item.date_create|date:'d/m/Y' }}"
                                data-reactivo-trademark="{{ item.trademark }}"
                                data-reactivo-reference="{{ item.reference }}"
                                data-reactivo-quantity="{{ item.weight|floatformat:1 }}"
                                data-reactivo-unit="{{ item.name.unit }}"
                                data-reactivo-date_order="{{ item.date_order }}" data-reactivo-lab="{{ item.lab }}"
                                data-reactivo-date_create="{{ item.date_create }}"
                                data-reactivo-nproject="{{ item.nproject }}"
                                data-reactivo-price="{{ item.price|floatformat:0 }}"
                                data-reactivo-destination="{{ item.destination }}"
                                data-reactivo-manager="{{ item.manager }}" data-reactivo-location="{{ item.location }}"
                                data-reactivo-school="{{ item.location.facultad }}"
                                data-reactivo-observations="{{ item.observations }}"
                                data-reactivo-create_by="{{ item.created_by.first_name }} {{ item.created_by.last_name }}"
                                data-reactivo-lastupdate="{{ item.last_update }}"
                                data-reactivo-update_by="{{ item.last_updated_by.first_name }} {{ item.last_updated_by.last_name }}"
                                title="Más información sobre el registro de entrada de: {{ item.name }}">
                        </td>
                        <td >
                            <a href="{% url 'reactivos:registrar_entrada' %}" target="_blank">
                                <img src="{% static 'inventarioreac/Images/add_register.png' %}" alt="" width="18" height="18" title="Agregar una nueva entrada de reactivo">
                            </a>
                            <a href="">
                                <img src="{% static 'inventarioreac/Images/edit_register.png' %}" alt="" width="18" height="18" title="Editar registro número {{ item.id }}">
                            </a>
                            <a href="">
                                <img src="{% static 'inventarioreac/Images/delete_register.png' %}" alt="" width="18" height="18" title="Borrar registro número {{ item.id }}">
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>
            <div class="d-flex justify-content-between">
                <!-- Controles de navegación de página -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="" id="first-page-link">Primera</a>
                        <a href="" id="previous-page-link">Anterior</a>
                        {% endif %}

                        <span class="current-page">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>

                        {% if page_obj.has_next %}
                        <a href="" id="next-page-link">Siguiente</a>
                        <a href="" id="last-page-link">Última</a>
                        {% endif %}
                    </span>
                </div>
                
                <!-- Información de paginación -->
                <div class="pagination-info">
                    Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ paginator.count }} registros
                </div>
            </div>

            <br>
            <!-- Opciones de exportación -->
            <a href="{% url 'reactivos:export_to_excel_input' %}" class="btn btn-primary">Exportar a Excel</a>
            <!-- <a href="{% url 'reactivos:export_to_pdf' %}" class="btn btn-primary">Exportar a PDF</a> -->

        </div>
    </div>
    <!-- Este script no puede ser llamado de manera independiente ya que tiene muchas variables provenientes del servidor -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const baseUrl = window.location.href;
            const currentPage = '{{ page_obj.number }}';
            const nextPage = parseInt(currentPage) + 1
            const previousPage = parseInt(currentPage) - 1
            const totalPages = '{{ page_obj.paginator.num_pages }}';


            '{% if page_obj.has_previous %}'
            const firstPageLink = document.getElementById('first-page-link');
            const previousPageLink = document.getElementById('previous-page-link');
            firstPageLink.href = baseUrl + '&page=1';
            previousPageLink.href = baseUrl + '&page=' + previousPage;
            '{% endif %}'

            '{% if page_obj.has_next %}'
            const nextPageLink = document.getElementById('next-page-link');
            const lastPageLink = document.getElementById('last-page-link');
            nextPageLink.href = baseUrl + '&page=' + nextPage;
            lastPageLink.href = baseUrl + '&page=' + totalPages;

            '{% endif %}'
        });
    </script>
    {% endblock %}
</body>

</html>