<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar salida de reactivos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <style>
        .input-group-text,
        .form-control {
            border: none;
            outline: none;
        }
    </style>


    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>

    <div class="container mt-1">
        <h1>Confirmación</h1>
        <h5>Favor verificar el registro:</h5>
        <div class="col-12">

            <form method="post" class="row" id="salida_form" name="form">
                {% csrf_token %}

                <div class="input-group input-group-sm mb-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Fecha: </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                        readonly name="date" id="date">
                </div>

                <div class="input-group input-group-sm mb-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre reactivo:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                        name="name" id="name" placeholder="Nombre, CI o CAS" readonly>
                </div>

                <div class="col-md-5">
                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Código:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="code" id="code" placeholder="Código Interno"
                            readonly>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">CAS: </span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="cas" id="cas" placeholder="Código CAS"
                            readonly>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Marca:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="trademark" id="trademark" placeholder="Marca"
                            readonly>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Referencia:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="reference" id="reference"
                            placeholder="Ref. reactivo" readonly>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Es líquido:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="is_liquid" id="is_liquid"
                            placeholder="Es líquido?" readonly>
                    </div>
                </div>


                <div class="col-md-4">

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Cantidad:</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="weight" id="weight"
                            placeholder="Cantidad de reactivo" readonly>
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Unidad.</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="unit" id="unit" placeholder="unit" readonly>
                    </div>

                </div>

                <div class="col-md-5">

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Asignatura/Ubicación: </span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="location" id="location"
                            placeholder="Ubicación" readonly>
                    </div>

                </div>

                <div class="col-md-5">

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Destino: </span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="destination" id="destination" placeholder="Destino"
                            readonly>
                    </div>

                </div>

                <div class="col-md-12">

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Responsable: </span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" name="manager" id="manager"
                            placeholder="Responsable del insumo" readonly>
                    </div>

                </div>
                <br><br>

                <div class="col-md-12">

                    <div class="input-group input-group-sm mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Observaciones: </span>
                        </div>
                        <textarea class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                            name="observations" id="observations" placeholder="Escriba sus observaciones" readonly
                            rows="2"></textarea>
                    </div>

                </div>
                <br><br><br>

                <div class="col-md-2 mt-1">
                    <input type="submit" value="Confirmar Registro" class="btn btn-primary">
                </div>
                <div class="col-md-1 mt-1">
                    <button type="button" onclick="Volver()" class="btn btn-primary" id="Cancelar">Cancelar</button>
                </div>

            </form>
            <script>

                // Obtiene la ventana padre
                var parentWindow = window.opener;

                // Obtiene los valores de los campos del formulario padre
                var date = parentWindow.document.querySelector('#date').value;
                var name = parentWindow.document.querySelector('#name').value;
                var code = parentWindow.document.querySelector('#code').value;
                var cas = parentWindow.document.querySelector('#cas').value;
                
                var trademark = parentWindow.document.querySelector('#trademark');
                const selectedOption = trademark.options[trademark.selectedIndex].text;
                
                var reference = parentWindow.document.querySelector('#reference').value;
                var is_liquid = parentWindow.document.querySelector('#is_liquid').value;
                var weight = parentWindow.document.querySelector('#weight').value;
                var unit = parentWindow.document.querySelector('#unit').value;
                var loc = parentWindow.document.querySelector('#location').value;
                
                var destination = parentWindow.document.querySelector('#destination');
                const selectedDestination = destination.options[destination.selectedIndex].text;

                var manager = parentWindow.document.querySelector('#manager').value;
                var observations = parentWindow.document.querySelector('#observations');
                observations_text = observations.value;
                console.log(observations_text);

                // Rellena los campos del formulario de la ventana emergente
                document.querySelector('#date').value = date;
                document.querySelector('#name').value = name;
                document.querySelector('#code').value = code;
                document.querySelector('#cas').value = cas;
                document.querySelector('#trademark').value = selectedOption;
                document.querySelector('#reference').value = reference;
                document.querySelector('#is_liquid').value = is_liquid;
                document.querySelector('#weight').value = weight;
                document.querySelector('#unit').value = unit;
                document.querySelector('#destination').value = selectedDestination;
                document.querySelector('#location').value = loc;
                document.querySelector('#manager').value = manager;
                obs = document.querySelector('#observations');
                obs.value = observations_text

                // Agrega un evento al botón Cancelar
                document.querySelector('#Cancelar').addEventListener('click', function () {
                    // Cierra la ventana emergente
                    window.close();
                });
            </script>



            {% if messages %}
            {% for message in messages %}
            <script>
                window.onload = function () {
                    var outForm = window.opener.document.getElementById("salida_form");
                    if (outForm) {
                        window.opener.location.reload();
                        console.log('Se supone que acá resetea el form')
                    }
                    else{console.log('No encontró el form')}
                    alert('{{ message }}');
                    
                    window.close()
                    };
            </script>
            {% endfor %}
            {% endif %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</body>

</html>