.btn-secondary {
    padding: 0.03rem 0.5rem;
    /* Ajusta los valores de padding según tu preferencia */
    font-size: 0.1 rem;
    /* Ajusta el tamaño de fuente según tu preferencia */
}

.btn-group-toggle a.active {
    background-color: #515355;
    color: #fff;
}

select.form-control-sm {
    border-color: #ced4da;
    /* Cambia el color del borde según tus preferencias */
}


.detalle-reactivo {
    cursor: pointer;
}

.created_by_cell {
    cursor: pointer;
}

/* Estilo para los encabezados con la clase .sortable-header */
.sortable-header {
    cursor: pointer;
    position: relative;
}

/* Fondo tenue al pasar el cursor por encima del encabezado */
.sortable-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Fondo transparente */
    opacity: 0;
    /* Inicialmente transparente */
    transition: opacity 0.3s;
    /* Transición suave de 0.3 segundos */
    pointer-events: none;
    /* Permitir que los eventos pasen a través del fondo */
}

/* Mostrar el fondo tenue al pasar el cursor por encima */
.sortable-header:hover::before {
    opacity: 1;
    /* Mostrar el fondo tenue */
}

/* Estilos para mostrar el indicador de ordenamiento en el encabezado seleccionado */
.sorted-asc::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid transparent;
    /* Ancho y color del borde izquierdo */
    border-right: 4px solid transparent;
    /* Ancho y color del borde derecho */
    border-bottom: 6px solid #000;
    /* Ancho y color del borde inferior (triángulo apuntando hacia arriba) */
    margin-left: 5px;
}

.sorted-desc::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid transparent;
    /* Ancho y color del borde izquierdo */
    border-right: 4px solid transparent;
    /* Ancho y color del borde derecho */
    border-top: 6px solid #000;
    /* Ancho y color del borde superior (triángulo apuntando hacia abajo) */
    margin-left: 5px;
}




/* Estilo para la fila con la clase .table-row */
tr.table-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Fondo tenue al pasar el cursor por encima de la fila */
}

/* Agrega un estilo para resaltar las celdas de reactivo vencido */
.reactivo-vencido {
    background-color: #FFCCCC; /* Cambia el color de fondo */
    color: #FF0000; /* Cambia el color del texto */
    font-weight: bold; /* Hace que el texto sea más audaz */
}


/* Estilo personalizado para cambiar el ancho de la alerta */
.custom-swal-class {
    width: 550px; /* Cambia el ancho según tus necesidades */
}


/* Agrega un estilo para resaltar las celdas no tramitadas */
.pendiente-tramite-cell {
    background-color: #FFCCCC; /* Cambia el color de fondo */
    color: #FF0000; /* Cambia el color del texto */
    font-weight: bold; /* Hace que el texto sea más audaz */
}