.input-icon-img {
    width: 26px;
    /* Tamaño personalizado */
    height: 26px;
    /* Tamaño personalizado */
  }

  .input-with-icon {
    display: flex;
    align-items: center;
  }

  .input-with-icon .input-icon {
    margin-right: 8px;
  }

  