{% load static %}<!-- Permite invocar archivos estáticos -->
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]> <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]> <html class="ie9 oldie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<!-- 
	 =============================================================================
	 === PLANTILLA DESARROLLADA POR LA OFICINA DE MEDIOS DIGITALES - UNIMEDIOS ===
	 =============================================================================
		-->

		<!-- base href="http://subdominio.unal.edu.co/" -->
		<link rel="shortcut icon" href="{% static 'inventarioreac/images/favicon.ico' %}" type="image/x-icon">


		<meta name="revisit-after" content="1 hour">
		<meta name="distribution" content="all">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
		<meta name="expires" content="1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="all">


		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/bootstrap.min.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/bootstrap-theme.min.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/reset.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/unal.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/base.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/tablet.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/phone.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/small.css' %}" media="all">
		<link rel="stylesheet" type="text/css" href="{% static 'inventarioreac/css/printer.css' %}" media="print">


		<script src="{% static 'inventarioreac/js/jquery.js' %}" type="text/javascript"></script>
		<script src="{% static 'inventarioreac/js/unal.js' %}" type="text/javascript"></script>
		<!--[if lt IE 9]><script src="{% static 'js/html5shiv.js' %}" type="text/javascript"></script><![endif]-->
		<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}" type="text/javascript"></script><![endif]-->

		{% block head %}{% endblock %}
		<title>{% block title %}Inicio: Universidad Nacional de Colombia{% endblock %}</title>
	</head>

	<body>
		<div id="services">
			<div class="indicator hidden-xs"></div>
			<ul class="dropdown-menu">
            <li>
					<a href="http://correo.unal.edu.co" target="_blank"><img src="{% static 'inventarioreac/images/icnServEmail.png' %}" width="32" height="32" alt="Correo Electrónico">Correo Electrónico</a>
            </li>
            <li>
					<a href="https://dninfoa.unal.edu.co" target="_blank"><img src="{% static 'inventarioreac/images/icnServSia.png' %}" width="32" height="32" alt="Dirección Nacional de Información Académica">DNINFOA - SIA</a>
            </li>
            <li>
					<a href="http://bibliotecas.unal.edu.co" target="_blank"><img src="{% static 'inventarioreac/images/icnServLibrary.png' %}" width="32" height="32" alt="Biblioteca">Bibliotecas</a>
            </li>
            <li>
				<a href="{% url 'dir_lab:home_dir_lab' %}"target="_blank"><img src="{% static 'inventarioreac/images/icnLrn.png' %}" width="32" height="32" alt="Direccion de Laboratorios">Direccion de Laboratorios Sede Manizales </a>
            </li>
            <li>
				<a href="https://d1xb30i372mnxf.cloudfront.net/" target="_blank"><img src="{% static 'inventarioreac/images/icnLrn.png' %}" width="32" height="32" alt="Plataforma de Laboratorios Remotos">Plataforma de Laboratorios Remotos</a>	
				
            </li>
			</ul>
		</div>
		<header id="unalTop">
			<div class="logo">
            <a href="http://unal.edu.co">
					<!--[if (gte IE 9)|!(IE)]><!-->
					<svg width="93%" height="93%">
					<image xlink:href="{% static 'inventarioreac/images/escudoUnal.svg' %}" width="100%" height="100%" class="hidden-print"/>
					</svg>

					<!--<![endif]-->
					<!--[if lt IE 9]>
			<img src="{% static 'images/escudoUnal.png' %}" width="93%" height="auto" class="hidden-print"/> 
	  <![endif]-->
					<img src="{% static 'inventarioreac/images/escudoUnal_black.png' %}" class="visible-print" />
            </a>
			</div>
			<div class="seal">
            <img class="hidden-print" alt="Escudo de la República de Colombia" src="{% static 'inventarioreac/images/sealColombia.png' %}" width="66" height="66" />

            <img class="visible-print" alt="Escudo de la República de Colombia" src="{% static 'inventarioreac/images/sealColombia_black.png' %}" width="66" height="66" />
			</div>
			<div class="firstMenu">

            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
    
           
			</div>
			<div id="bs-navbar" class="navbar-collapse collapse navigation">
				<div class="site-url">
					<a href="#" target="_blank" class="custom-url">Cargando URL...</a>
				</div>
				<script>
						document.addEventListener("DOMContentLoaded", function() {
			const customUrl = document.querySelector('.custom-url');
			if (customUrl) {
				customUrl.textContent = window.location.origin + "{% url 'dir_lab:home_dir_lab' %}";
				customUrl.href = "{% url 'dir_lab:home_dir_lab' %}";
			}
		});
				</script>
           
            
            <div class="btn-group hidden-sm hidden-md hidden-lg hidden-print">
					<div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="unalOpenMenuServicios" data-target="#services">Opciones<span class="caret"> </span>
					</div>
            </div>
            <div class="btn-group hidden-sm hidden-md hidden-lg hidden-print">
					<div class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="unalOpenMenuPerfiles" data-target="#profiles">Perfiles<span class="caret"> </span>
					</div>
            </div>
			</div>

		</header>

		

		<main class="detalle">
			<div class="breadcrumb-class" style="margin-top: 0%;">Está en:<a href="#" target="_self" title="Inicio" id="breadcrumb_title">{{ laboratorio|title}}</a><container id="breadcrumb-title"></container></div>

		<script>
			// Obtener el valor del campo HTML 'title'
			var pageTitle = document.title;

			// Asignar el valor al elemento de breadcrumb
			document.getElementById("breadcrumb-title").textContent = pageTitle;
			document.getElementById("breadcrumb_title").setAttribute("title", pageTitle);
		</script>
			{% block content %}
			{% endblock %}

		</main>

		<footer class="clear">
			<nav  class="col-md-3 col-lg-3 col-sm-3 col-xs-4 col-xxs-6">
			</nav>
			<nav class="col-md-3 col-lg-3 col-sm-3 col-xs-4 col-xxs-6 ">
			</nav>
			<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-xxs-12 footer-info">
				<p class="col-sm-12 col-md-6 contacto">
					<b>Contacto página web:</b>
					<br /> Carrera 27 # 64-60<br /> 01 8000 916956<br /> Manizales, Caldas - Colombia<br />
					(57+606) 8879300
				</p>
				<p class="col-sm-12 col-md-6 derechos">
					&copy; Copyright 2023<br /> Algunos derechos reservados.<br />
					<a title="Comuníquese con el administrador de este sitio web" href="mailto:UniClab_man@unal.edu.co"
						target="_blank">UniClab_man@unal.edu.co</a><br />
					<a href="{% url 'dir_lab:home_dir_lab'%}" target="_blank">Acerca de este sitio web</a><br /> Actualización:14/11/2023
				</p>
			</div>
	
			<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 logos">
				<div class="col-xs-6 col-sm-12 col-md-6 no-padding">
					<a class="col-xs-6 col-sm-12" href="http://www.orgulloun.unal.edu.co" target="_blank">
						<img class="hidden-print" alt="Orgullo UN" src="{% static 'inventarioreac/images/log_orgullo.png' %}" width="78"
							height="21" />
						<img class="visible-print" alt="Orgullo UN" src="{% static 'inventarioreac/images/log_orgullo_black.png' %}"
							width="94" height="37" />
					</a>
	
					<a class="col-xs-6 col-sm-12 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html"
						target="_blank">
						<img class="hidden-print" alt="Agencia de noticias" src="{% static 'inventarioreac/images/log_agenc.png' %}"
							width="94" height="25" />
						<img class="visible-print" alt="Agencia de noticias" src="{% static 'inventarioreac/images/log_agenc_black.png' %}"
							width="94" height="37" />
					</a>
				</div>
				<div class="col-xs-6 col-sm-12 col-md-6 no-padding">
					<a class="col-xs-6 col-sm-12" href="https://www.sivirtual.gov.co/memoficha-entidad/-/entidad/T0356"
						target="_blank">
						<img alt="Trámites en línea" src="{% static 'inventarioreac/images/log_gobiern.png' %}" width="67" height="51" />
					</a>
	
					<a class="col-xs-6 col-sm-12" href="http://www.contaduria.gov.co/" target="_blank">
						<img alt="Contaduría general de la republica" src="{% static 'inventarioreac/images/log_contra.png' %}" width="67"
							height="51" />
					</a>
				</div>
	
			</div>
		</footer>
	</body>

</html>