<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mensaje administrativo</title>

</head>

<body>

    <p>Recibe un cordial saludo desde el administrador de UniCLab, has recibido un mensaje con la siguiente información:
    </p>

    <p>Fecha : {{ fecha_actual }}</p>
    <p>{{ message }}</p>



    <p>Cordialmente,
        <br>Equipo de dirección de Laboratorios
        <br>Universidad Nacional de Colombia - Sede Manizales
        <br>{{ url }}
    </p>
    <p>
        Agradecemos no responder este correo electrónico
        <br>🌿 Por favor sea consciente con el medio ambiente y no imprima este mensaje 🌳

    </p>

</body>

</html>