{% extends "webtemplate.html" %}
{% load has_group %}
<!doctype html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Listado de eventos{% endblock %}</title>
    {% block head %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
        defer>
        </script> -->

    <!-- para el autocompletado -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

    <!-- Incluir SweetAlert2 desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    {% load static %}
    {% if request.user|has_group:"COORDINADOR" or request.user|has_group:"TECNICO" %}
    {% for lab in laboratorios %}
    {% if lab.id == laboratorio.id %}

    <script>
        labDefault = '{{ lab.id }}'
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if request.user|has_group:"ADMINISTRADOR" or request.user.is_superuser %}

    <script>
        labDefault = "0"
    </script>
    {% endif %}
    <script>
        today = "{{ today|date:'Y-m-d' }}"
    </script>
    <link rel="stylesheet" href="{% static 'inventarioreac/inventoryStyles.css' %}">
    <script src="{% static 'inventarioreac/paginationInventoryControl.js' %}"></script>
    <!-- Llama Script que controla la paginación -->
    <script src="{% static 'inventarioreac/holdSelectEvent.js' %}" defer></script>
    <!-- Llama Script que controla los select según búsqueda -->
    <script src="{% static 'inventarioreac/highlightPaginationControl.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script>var inventarioUrl = "{% url 'reactivos:inventario' %}";</script>
    <script src="{% static 'inventarioreac/sortByControl.js' %}"></script>
    <!-- Llama Script que envía datos de ordenamiento de registros -->
    <script src="{% static 'inventarioreac/openDetailUserList.js' %}" defer></script>
    <script src="{% static 'inventarioreac/openDetailUser.js' %}" defer></script>
    <!-- Llama Script que resalta los controles de paginación -->
    <script src="{% static 'inventarioreac/updateUrl.js' %}"></script>
    <!-- Llama Script que actualiza URL -->
    <script src="{% static 'inventarioreac/listActionsControl.js' %}" defer></script>
    <!-- Llama Script que controla las acciones de la lista -->
    <script src="{% static 'inventarioreac/clearFieldsFindEvent.js' %}" defer></script>
    <!-- Llama Script que Limpia la búsqueda -->
    <script src="{% static 'inventarioreac/autocompleteUsuarios.js' %}"></script>
    <!-- Llama Script que coloca una lista autocompletable de usuarios sobre el campo name -->
    <script src="{% static 'inventarioreac/validateLapse.js' %}"></script>
    <!-- Llama Script que valida las fechas -->

    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="row col-md-12" style="margin-left: auto; margin-right: auto;">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h1>Listado de Eventos</h1>
                </div>
            </div>
            <div class="card-body">

                <form method="get" onsubmit="guardarValoresSelect()" name="listadoUsuarios" class="row g-3">


                    <div class="form-group  col-md-4">
                        <label for="name">Usuario:</label>
                        <input type="text" id="name" name="name" class="form-control">

                    </div>
                    <input type="hidden" id="id_user" name="id_user" class="form-control" readonly>
                    <div class="form-group col-md-4">
                        <label for="start_date">Fecha Inicial:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control"
                            max="{{ today|date:'Y-m-d' }}">
                        <span class="validation-message" id="start-date-validation" style="color: red;">La fecha incial
                            debe
                            ser igual o anterior a "{{ today|date:'Y-m-d' }}".</span>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="end_date">Fecha Final:</label>
                        <input type="date" id="end_date" name="end_date" class="form-control"
                            value="{{ today|date:'Y-m-d' }}" max="{{ today|date:'Y-m-d' }}">
                        <span class="validation-message" id="end-date-validation" style="color: red;">La fecha incial
                            debe
                            ser igual o anterior a "{{ today|date:'Y-m-d' }}"</span>
                    </div>

            </div>

            <div class="card-footer  text-md-left">


                <button id="boton-buscar" type="submit" class="btn btn-primary">Buscar</button>
                <button type="button" class="btn btn-success" onclick="limpiarCampos('listadoUsuarios')">Limpiar
                    búsqueda</button>

            </div>
            </form>

        </div>




        <div class="col-md-12 mx-auto" style="margin-top: 10px; margin-bottom: 10px; margin-left: -15px;">
            <!-- Control de paginación -->
            <div class="d-flex justify-content-between" style="margin-bottom: 8px;">
                <div>Ver&nbsp;
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a href="{% url 'reactivos:GuardarPerPageEvent' per_page=10 %}" class="btn btn-secondary btn-sm"
                            id="per-page-10">10</a>
                        <a href="{% url 'reactivos:GuardarPerPageEvent' per_page=20 %}" class="btn btn-secondary btn-sm"
                            id="per-page-20">20</a>
                        <a href="{% url 'reactivos:GuardarPerPageEvent' per_page=50 %}" class="btn btn-secondary btn-sm"
                            id="per-page-50">50</a>
                    </div>&nbsp;Registros por página
                </div>
            </div>
        </div>



        <div class="table-responsive col-md-12">
            <table class="table custom-table" id="tabla-inventario">

                <thead style="background-color: rgb(205, 203, 203);position: sticky; top: 0; z-index: 10;">
                    <tr>

                        <th class="sortable-header" data-column="0" title="Ordenar por fecha" data-column-name="date"
                            style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">
                            <span class="visible-lg-inline-block">Fecha</span>
                            <span class="hidden-xs"> y hora</span>
                        </th>
                        <th class="sortable-header" data-column="1" title="Ordenar por tipo de eventp"
                            style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">
                            Evento
                        </th>
                        <th class="sortable-header" data-column="2" title="Ordenar por nombre de usuario"
                            style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;">
                            Usuario</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in object_list %}
                    <tr class="table-row">
                        <td title="Fecha del evento"
                            style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; cursor: default;"><span class="visible-lg-inline-block visible-md-inline-block hidden-xs">{{ item.fecha_evento|date:"d/m/Y H:i" }}</span><span class="hidden-lg hidden-md visible-xs-inline-block">{{ item.fecha_evento|date:"d/m/Y" }}</span></td>
                        <td title="Tipo de evento"
                            style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle; cursor: default;">{{ item.tipo_evento }}</td>
                        <td class="created_by_cell"
                            title="Más información de: {{ item.usuario_evento.first_name }} {{ item.usuario_evento.last_name }}"
                            date_user_create="{{ item.usuario_evento.first_name }} {{ item.usuario_evento.last_name }}"
                            data-reactivo-name="{{ item.tipo_evento }}"
                            data-reactivo-date="{{ item.fecha_evento|date:'d/m/Y' }}"
                            date_user_id="{{ item.usuario_evento.id_number }}"
                            date_user_username="{{ item.usuario_evento.username }}"
                            date_user_mail="{{ item.usuario_evento.email }}"
                            date_user_phone="{{ item.usuario_evento.phone_number }}"
                            date_user_lab="{{ item.usuario_evento.lab }}" date_user_rol="{{ item.usuario_evento.rol }}"
                            date_user_datejoined="{{ item.usuario_evento.date_joined }}"
                            date_user_lastlogin="{{ item.usuario_evento.last_login }}" date_user_type="registra"
                            date_user_vist="el evento"
                            style="border-bottom: 1px solid black; border-top: 1px solid black;text-align: left; vertical-align: middle;"><a><span class="visible-lg-inline-block visible-md-inline-block hidden-xs">{{ item.usuario_evento.first_name }} {{ item.usuario_evento.last_name }}</span><span class="hidden-lg hidden-md visible-xs-inline-block">Ver</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <div class="d-flex justify-content-between" style="margin-bottom: 20px;">
                <!-- Controles de navegación de página -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="" id="first-page-link">Primera</a>
                        <a href="" id="previous-page-link">Anterior</a>
                        {% endif %}
                        <span class="current-page">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages}}.</span>

                        {% if page_obj.has_next %}
                        <a href="" id="next-page-link">Siguiente</a>
                        <a href="" id="last-page-link">Última</a>
                        {% endif %}
                    </span>
                </div>
                <!-- Información de paginación -->
                <div class="pagination-info">
                    Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ paginator.count }} registros
                </div>
            </div>

            <div class="text-md-left">
            <!-- Opciones de exportación -->
            <a href="{% url 'reactivos:export_to_excel_event' %}" class="btn btn-primary">Exportar a Excel</a>
            </div>
        

    </div>
    <!-- Este script no puede ser llamado de manera independiente ya que tiene muchas variables provenientes del servidor -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const baseUrl = window.location.href;
            const currentPage = '{{ page_obj.number }}';
            const nextPage = parseInt(currentPage) + 1
            const previousPage = parseInt(currentPage) - 1
            const totalPages = '{{ page_obj.paginator.num_pages }}';


            '{% if page_obj.has_previous %}'
            const firstPageLink = document.getElementById('first-page-link');
            const previousPageLink = document.getElementById('previous-page-link');
            firstPageLink.href = baseUrl + '&page=1';
            previousPageLink.href = baseUrl + '&page=' + previousPage;
            '{% endif %}'

            '{% if page_obj.has_next %}'
            const nextPageLink = document.getElementById('next-page-link');
            const lastPageLink = document.getElementById('last-page-link');
            nextPageLink.href = baseUrl + '&page=' + nextPage;
            lastPageLink.href = baseUrl + '&page=' + totalPages;

            '{% endif %}'
        });
    </script>

    {% endblock %}
</body>

</html>