{% extends "webtemplate_before.html" %}
{% load i18n %}
<title>{% block title %}Cierre de sesión: UniCLab{% endblock %}</title>
{% block breadcrumbs %}<div class="breadcrumbs" style="background-color: #606060;"><a href="{% url 'reactivos:index' %}">{% translate 'Home' %}</a></div>{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

<p style="margin-top: 20px;">{% translate "Thanks for spending some quality time with the web site today." %}</p>
<br>
<p><a style="color: blue;" href="{% url 'reactivos:index' %}">{% translate 'Log in again' %}</a></p>

<!-- En tu plantilla -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Realiza una petición AJAX para verificar el estado de autenticación
        fetch("{% url 'reactivos:check_auth_status' %}")
            .then(response => {
                if (response.status === 200) {
                    // Usuario autenticado, no hacer nada
                } else if (response.status === 401) {
                    // Usuario no autenticado, redirige al inicio
                    window.location.href = "{% url 'reactivos:index' %}";  // Cambia '/' por tu URL de inicio
                }
            })
            .catch(error => {
                console.error('Error al verificar el estado de autenticación:', error);
            });
    });
</script>


{% endblock %}
