{% extends "base_site.html" %}

{% load i18n static %}



{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs" style="background-color: #606060;">
<a href="{% url 'reactivos:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <!-- Agrega el campo de CAPTCHA -->
    {{ form.captcha }}
    
    <input type="submit" value="{% translate 'Reset my password' %}">
</fieldset>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener el valor del parámetro 'email' de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const encodedEmail = urlParams.get('email');
    
        // Decodificar el valor del correo electrónico en base64
        if (encodedEmail) {
            const decodedEmail = atob(encodedEmail);
            // Prellenar el campo de correo electrónico en el formulario
            document.getElementById('id_email').value = decodedEmail;
        }
    });
    </script>

{% endblock %}
