{% extends "webtemplate_before.html" %}

{% load i18n static %}

<title>{% block title %}¿Olvidó su contraseña?{% endblock %}</title>

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static " admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs" style="background-color: #606060;">
    <a href="{% url 'reactivos:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}
<div class="card col-md-3" style="margin-top: 20px;">
    <div class="card-header">
        <div class="form-group">
            <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
        </div>
    </div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            
                <div class="form-row field-email">
                    <div class="form-group">
                        <div style="color: red;">{{ form.email.errors }}</div>
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="form-label">{% translate 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
                </div>
                
                <!-- Agrega el campo de CAPTCHA -->
            <div class="form-group">
                <label for="recaptcha" class="form-label">{{ form.captcha.label }}</label>
                <br>
                {{ form.captcha }}
                <div style="color: red;">
                    {{ form.captcha.errors }}
                </div></div>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <input type="submit" value="{% translate 'Reset my password' %}" style="width: 50%;" class="btn btn-primary">
            <a href="{% url 'reactivos:index' %}" class="btn btn-primary" style="width: 49%;">Volver al inicio</a>
        </div>
        
    </div>
    
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener el valor del parámetro 'email' de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const encodedEmail = urlParams.get('email');

        // Decodificar el valor del correo electrónico en base64
        if (encodedEmail) {
            const decodedEmail = atob(encodedEmail);
            // Prellenar el campo de correo electrónico en el formulario
            document.getElementById('id_email').value = decodedEmail;
        }

        const emailField = document.getElementById("id_email");
    if (emailField) {
        emailField.classList.add("form-control");
    }
    });
</script>

{% endblock %}