.btn-secondary {
    padding: 0.03rem 0.5rem;
    /* Ajusta los valores de padding según tu preferencia */
    font-size: 0.1 rem;
    /* Ajusta el tamaño de fuente según tu preferencia */
}

.btn-group-toggle a.active {
    background-color: #515355;
    color: #fff;
}

select.form-control-sm {
    border-color: #ced4da;
    /* Cambia el color del borde según tus preferencias */
}


.detalle-reactivo {
    cursor: pointer;
}